    <div class="row-fluid">
      <ul class="thumbnails bordered">
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-edit enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3>Design your Listing</h3>
              <p>
                Tell us a bit about yourself, what you can teach, & what you want help doing. Your apprenticeship can be event-based, production-based, or ongoing. You'll upload 5 images of your work and pay a $9 listing fee.
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-thumbs-up enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3>Share with Friends</h3>
              <p>
                After we've reviewed and posted your listing, we'll start forwarding your applications as soon as they arrive! You'll have 2 weeks to decide on the most awesome applicant.
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-calendar enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3>Host the Workshop</h3>
              <p>
                When you've accepted an apprentice or two, we'll put you in touch to schedule your first meeting. We'll also give you some tips for being productive and having fun.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>