.row-fluid
  %ul.thumbnails.bordered
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa-edit.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3 Design your Listing
          %p
            Tell us a bit about yourself, what you can teach, & what you want help doing. Your apprenticeship can be event-based, production-based, or ongoing. You'll upload 5 images of your work and pay a $30 listing fee.
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa-thumbs-up.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3 Share with Friends
          %p
            After we've reviewed and posted your listing, we'll start forwarding your applications as soon as they arrive! You'll have 2 weeks to decide on the most awesome applicant.
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa-calendar.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3 Host the Workshop
          %p
            When you've accepted an apprentice or two, we'll put you in touch to schedule your first meeting. We'll also give you some tips for being productive and having fun.