%section#private-info.section
  .container
    .row

      .span12
        %h1
          %icon.icon-check
          Yippee!

      .span8
        .fancyform-light.form-horizontal
          %p Thanks for submitting a workshop! A confirmation will be sent to your email.
          %p We'll review your workshop proposal and let you know as soon as it's been posted live! You can check on the status of your proposal any time by visiting your #{link_to "Dashboard Page", dashboard_path}
          %br
          .alert.alert-info
            %strong
              Note:
            You will not be able to edit your workshop until we've had a chance to approve it. Then any edits will need to be re-approved.

      .span4
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            %a{href: "/faq_makers"}
              FAQ
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com

      .span12
        %hr
        %br
        %h2 Tips for running a great workshop
        .row-fluid
          .well.span3
            %h3
              %i.icon-bolt.inline
              Share Skills
            The students should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
          .well.span3
            %h3
              %i.icon-wrench.inline
              Teach New Tools
            Think about giving the students a feel for what its like to run your small business, OR why you choose not to.
            %br
            %br
          .well.span3
            %h3
              %i.icon-compass.inline
              Explore
            Remeber to give gentle but constructive feedback. Help them learn from their mistakes which is often the best way to gain experience.
          .well.span3
            %h3
              %i.icon-rocket.inline
              Inspire Growth
            Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn togeather.
        %br
