%section#private-info.section
  .container
    .row

      .span12
        %h1
          %icon.icon-check
          Yippee!

      .span8
        .fancyform-light.form-horizontal
          %p
            Thanks for submitting your workshop:
            = link_to @workshop.title, workshop_path(@workshop)
            A confirmation will be sent to your email.
          %p We'll review your workshop proposal and let you know as soon as it's been posted live! You can check on the status of your proposal any time by visiting your #{link_to "Dashboard Page", dashboard_path}
          %br
          .alert.alert-info
            %strong
              Note:
            You will not be able to edit your workshop until we've had a chance to approve it. Then any edits will need to be re-approved.

      .span4
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            %a{href: "/faq_makers"}
              FAQ
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com

      .span12
        %hr
        %br
        %h2 Tips for running a great workshop
        .row-fluid
          .well.span3
            %h3
              %i.icon-bolt.inline
              Share Skills
            The students should be learning new or specialized skills and techniques that provide a foundation for building out a skill set.
          .well.span3
            %h3
              %i.icon-wrench.inline
              Teach New Tools
            Consider teaching students to use the key tools for your craft, especially ones they may never have had a chance to try before.
            %br
          .well.span3
            %h3
              %i.icon-compass.inline
              Explore
            Give your students a chance to explore a new medium, technique, or process that can help them begin or grow their own practice.
          .well.span3
            %h3
              %i.icon-rocket.inline
              Inspire Growth
            The workshop should give students inspiration and next steps to continue practicing and developing their new skills on their own.
        %br
