%section#workshop-info.section.alt-grey.newevent
  .container
    .row-fluid
      .hero-unit.well
        %h1 Workshops
        %br

        %h2 Nice! Here's how it works...
        .row-fluid
          .well.span3
            %h3
              %i.fa.fa-magic.inline
              Create it
            %p Post your workshop right away, or leave the date set as "TBA" to gain interest first as girls pre-register. Set your own price, you earn 80% & we earn 20%.
          .well.span3
            %h3
              %i.fa.fa-check.inline
              We Review
            %p
              We'll review your listing once you've submitted it. We also do background checks on all our Makers to keep our community safe.
            %br
          .well.span3
            %h3
              %i.fa.fa-edit.inline
              Girls sign up
            %p
              We promote it to the GirlsGuild community and keep you updated as girls sign up. We'll also remind your students as the day approaches.
          .well.span3
            %h3
              %i.fa.fa-trophy.inline
              We Track
            %p
              We'll keep track of the skills, tools, and techniques your students are learning in each workshop to build out their incredible portfolios.
            %br

        %br
        #buttons
          = link_to "Let's start one!", { controller: :workshops, action: :create } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }

        %br
        %ul.icons
          %li
            %i.fa.fa-bookmark
            For more info check out the
            = link_to "FAQ", faq_path
          %li
            %i.fa.fa-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com


