%section#workshop-info.section.alt-grey.newevent
  .container
    .row-fluid
      .hero-unit.well
        %h1 Workshops
        %br

        %h2 Nice! Here's how it works...
        .row-fluid
          .well.span3
            %h3
              %i.icon-magic.inline
              Create it
            %p Post your workshop right away, or leave the date set as "TBA" to gain interest first as girls pre-register. Set your own price, we take 15% & you get 85%.
          .well.span3
            %h3
              %i.icon-check.inline
              We Review
            %p
              We'll review your listing once you've submitted it. We also do background checks on all our Makers to keep our community safe.
            %br
          .well.span3
            %h3
              %i.icon-edit.inline
              Girls sign up
            %p
              We promote it to the GirlsGuild community and keep you updated as girls sign up. We'll also remind your students as the day approaches.
          .well.span3
            %h3
              %i.icon-trophy.inline
              We Track
            %p
              We'll keep track of the skills, tools, and techniques your students are learning in each workshop to build out their incredible portfolios.
            %br

        %br
        #buttons
          = link_to "Let's start one!", { controller: :workshops, action: :create, save_button: 'Save for Later' } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }

        %br
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            = link_to "FAQ", faq_makers_path
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com

        %hr

        %br
        %h2 Tips for designing a great workshop
        .row-fluid
          .well.span3
            %h3
              %i.icon-bolt.inline
              Share Skills
            The students should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
          .well.span3
            %h3
              %i.icon-wrench.inline
              Teach New Tools
            Think about giving the students a feel for what its like to run your small business, OR why you choose not to.
          .well.span3
            %h3
              %i.icon-compass.inline
              Explore
            Remeber to give gentle but constructive feedback. Help them learn from their mistakes which is often the best way to gain experience.
          .well.span3
            %h3
              %i.icon-rocket.inline
              Inspire Growth
            Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn togeather.
        %br
