%section#workshop-info.section.alt-grey
  .container
    .row-fluid
      .hero-unit.well
        %h1 Workshops
        %br
        %p We're excited you want to join GirlsGuild as a Maker! We'll review and post the workshop once you've completed your listing. We'll also need your consent to run a background check, to keep our community safe.
        %p Once your workshop is posted, we'll promote it to the GirlsGuild community and keep you updated when people sign up.

        %br
        #buttons
          = link_to "Let's start one!", { controller: :workshops, action: :create, save_button: 'Save for Later' } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }

        %br
        %br
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            %a{href: "/faq"}
              FAQ
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com