- provide(:title, 'About Us')
/ SmartBiz theme
%section#promo.section.alt
  .container
    .hero-unit
      %h1 For girls, by girls.
%section#content.section{:role => "main"}
  .container
    .page-header
      %h1
        The Team
        %small // Come visit us at the AC4D, we'll make you tea and waffles.
    %ul.thumbnails.bordered.thumbnail-list
      %li.span6
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/bios/cheyenne.jpg"}/
            %figcaption.thumbnail-title
              %h3
                %span Cheyenne Weaver
              %p
                %span Co-founder, Designer, Maker
        %p
          Cheyenne is an interaction and graphic designer, front-end web developer, and artist. When she’s not working on GirlsGuild or chasing beetles Cheyenne does UI and design for Red Hat, makes sculpture, and freelances occasionally. She was born in Mexico amongst hippies, but she eats her waffles one square at a time.
          %br/
          %br/
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Making Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}
      %li.span6
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/bios/diana.jpg"}/
            %figcaption.thumbnail-title
              %h3
                %span Diana Griffin
              %p
                %span Co-founder, Designer, Educator
        %p
          Diana is an interaction and communication designer, former ESL teacher and tutor for Grades K-9 and adults. She has lived in four countries on three continents, and loves the challenges of learning and sharing across languages and cultures. Originally from Vancouver, Canada, now she's practicing replacing her “eh’s” and “aboot’s” with “y’all’s”, but she still eats her waffles with pure maple syrup.
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Teaching Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}
      %li.span6
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/people9-600x400.jpeg"}/
            %figcaption.thumbnail-title
              %h3
                %span Sam Simmons
              %p
                %span Apprentice, Maker
        %p
          Sam is a Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      %li.span6
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/people1-600x400.jpeg"}/
            %figcaption.thumbnail-title
              %h3
                %span Skyler Lewis
              %p
                %span Apprentice, Maker
        %p
          Skyler is Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
%section.section.alt
  .container
    .page-header
      %h1
        Guild Partners
        %small // A few of our favorite organizations we've worked with in the last year.
    .row-fluid
      %ul.thumbnails.bordered.pull-center
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/bbbs.png"}/
          %h3
            %a{"data-original-title" => "Partner", "data-placement" => "bottom", :href => "http://www.bigmentoring.org/site/c.bkLVKdOQLjK6E/b.6458477/k.2DD3/Big_Brothers_Big_Sisters_of_Central_Texas__Austin_Travis_County_Hays_County_Williamson_County.htm", :rel => "tooltip", :target => "_blank"} BBBS
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/genaustin.png"}/
          %h3
            %a{"data-original-title" => "Partner", "data-placement" => "bottom", :href => "http://genaustin.org/", :rel => "tooltip", :target => "_blank"} GENAustin
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/gdi.png"}/
          %h3
            %a{"data-original-title" => "Our Mentors", "data-placement" => "bottom", :href => "http://www.meetup.com/Girl-Develop-It-Austin/", :rel => "tooltip", :target => "_blank"} Girl Develop It
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/skillcrush.png"}/
          %h3
            %a{"data-original-title" => "Our Tech Crush!", "data-placement" => "bottom", :href => "http://skillcrush.com/", :rel => "tooltip", :target => "_blank"} Skillcrush
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/feliz.png"}/
          %h3
            %a{"data-original-title" => "Friend and Partner", "data-placement" => "bottom", :href => "http://felizsale.com/", :rel => "tooltip", :target => "_blank"} Feliz
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/ac4d.png"}/
          %h3
            %a{"data-original-title" => "The Braintrust!", "data-placement" => "bottom", :href => "http://www.austincenterfordesign.com/", :rel => "tooltip", :target => "_blank"} AC4D