- provide(:title, 'About Us')
%section#promo.section.alt
  .container
    .hero-unit
      %h1 For girls, by girls.
%section#content.section{:role => "main"}
  .container#about
    .page-header
      %h1
        The Team
        %small
          \// Come visit us at the
          %a{:href => "http://www.austincenterfordesign.com"}
            Austin Center for Design,
          we'll make you tea and waffles.
    %ul.thumbnails.bordered.thumbnail-list

      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/cheyenne-02.jpg"}/
          %figcaption.thumbnail-title
            %h3
              %span Cheyenne Weaver
            %p
              %span Co-founder, Designer, Maker
        %p
          Cheyenne is an interaction and graphic designer, front-end web developer, and artist. When she’s not working on GirlsGuild or chasing beetles Cheyenne does UI and design for Red Hat, makes sculpture, and freelances occasionally. She was born in San Miguel de Allende, Mexico amongst hippies, but she eats her waffles one square at a time.
          %br/
          %a{:href => "http://www.cheyenneweaverdesign.com"}
            www.cheyenneweaverdesign.com
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/cheyenneweaver"} Follow @cheyenneweaver
          %br/
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Making Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}


      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/diana-02.jpg"}/
          %figcaption.thumbnail-title
            %h3
              %span Diana Griffin
            %p
              %span Co-founder, Designer, Educator
        %p
          Diana is an interaction & communication designer, and a former ESL teacher. She has lived in 4 countries on 3 continents, and loves the challenges of learning and sharing skills across generations and cultures. Originally from Vancouver, BC, now she's practicing replacing her “eh’s” and “aboot’s” with “y’all’s”, but she still eats her waffles with pure maple syrup.
          %br/
          %br/
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/dianagriffin"} Follow @dianagriffin
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Teaching Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}

      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/melissa-02.png"}/
          %figcaption.thumbnail-title
            %h3
              %span Melissa Chapman
            %p
              %span Community Evangelist, Designer, Maker
        %p
          Melissa is a business owner and newly minted interaction designer. Inspired by the power of design from a brief era living in Copenhagen, she traded her political hat in Oregon for a design hat in Texas. In both cases, her focus is engaging and mobilizing people. Despite growing up with Aunt Jemima in the south, she eats her waffles gluten free and covered in nuts & berries.
          %br/
          %a{:href => "http://www.stoneandsmith.com"}
            www.stoneandsmith.com
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/stoneandsmith"} Follow @stoneandsmith
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Social Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Making Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}


    %br
    %br

    %ul.thumbnails.bordered.thumbnail-list

      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/sam.jpg"}/
          %figcaption.thumbnail-title
            %h3
              %span Samantha Simmons
            %p
              %span Event Apprentice, Maker


      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/skyler.jpg"}/
          %figcaption.thumbnail-title
            %h3
              %span Skyler Lewis
            %p
              %span Event Apprentice, Maker


      %li.span4.team
        %figure.thumbnail-figure
          %img{:alt => "", :src => "images/assets/bios/catie.jpg"}/
          %figcaption.thumbnail-title
            %h3
              %span Catie Cleary
            %p
              %span Apprentice, Communicator, Maker


%section#content.section
  .container#about
    .page-header
      %h1 Our Story
      %br
      %p
        GirlsGuild began when Cheyenne and Diana met as students at the
        %a{:href => "http://www.ac4d.com"}
          Austin Center for Design
        in 2011, in a program that focuses on applying the design process to building businesses that address social problems.

      %p We focused our research on some of the issues and challenges girls can face in building a sense of identity and a voice in their community. After months of interviews, we'd learned two key things that can help with those challenges: learning tangible, hands-on skills (broadly speaking, the skills of making), and finding a sense of place in a strong community.

      %p Bringing together the ideas of learning skills and joining a community, we developed the concept of GirlsGuild as a community of makers focused on sharing skills through apprenticeship.

      %p With that concept in mind and a first round of designs on paper, it was time to build a business model around it. GirlsGuild is not a non-profit; we're a mission-driven business (sometimes called a for-benefit business), which means that we are self-sustaining, but any profits we make go back into the business to maximize our social impact.

      %p Since graduating in 2012, we've been working on building GirlsGuild as a community and as a business. We're testing out different models for apprenticeships and workshops to find a balance that is beneficial to both makers and girls learning from them. It's an ongoing process, and we'd love for you to be part of it!

      %p xo

      %p ~The GirlsGuild team

= render "partners"


