- provide(:title, 'About Us')
%section#promo.section.alt
  .container
    .hero-unit
      %h1 For girls, by girls.
%section#content.section{:role => "main"}
  .container#about
    .page-header
      %h1
        The Team
        %small // Come visit us at the AC4D, we'll make you tea and waffles.
    %ul.thumbnails.bordered.thumbnail-list

      %li.span4.team
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/bios/cheyenne.jpg"}/
            %figcaption.thumbnail-title
              %h3
                %span Cheyenne Weaver
              %p
                %span Co-founder, Designer, Maker
        %p
          Cheyenne is an interaction and graphic designer, front-end web developer, and artist. When she’s not working on GirlsGuild or chasing beetles Cheyenne does UI and design for Red Hat, makes sculpture, and freelances occasionally. She was born in San Miguel de Allende, Mexico amongst hippies, but she eats her waffles one square at a time.
          %br/
          %a{:href => "http://www.cheyenneweaverdesign.com"}
            www.cheyenneweaverdesign.com
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/cheyenneweaver"} Follow @cheyenneweaver
          %br/
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Making Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}


      %li.span4.team
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/bios/diana.jpg"}/
            %figcaption.thumbnail-title
              %h3
                %span Diana Griffin
              %p
                %span Co-founder, Designer, Educator
        %p
          Diana is an interaction and communication designer, former ESL teacher and tutor. She has lived in four countries on three continents, and loves the challenges of learning and sharing across languages and cultures. Originally from Vancouver, Canada, now she's practicing replacing her “eh’s” and “aboot’s” with “y’all’s”, but she still eats her waffles with pure maple syrup.
          %br/
          %br/
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/dianagriffin"} Follow @dianagriffin
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Coding Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 60%;"}
        .row-fluid
          .span4
            %h4 Teaching Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}

      %li.span4.team
        %a{:href => "#"}
          %figure.thumbnail-figure
            %img{:alt => "", :src => "images/assets/bios/melissa.jpg"}/
            %figcaption.thumbnail-title
              %h3
                %span Melissa Chapman
              %p
                %span Community Evangelist, Designer, Maker
        %p
          Melissa is a business owner and newly minted interaction designer. Inspired by the power of design from a brief era living in Copenhagen, she traded her political hat in Oregon for a design hat in Texas. In both cases, her focus is engaging and mobilizing people. Despite growing up with Aunt Jemima in the south, she eats her waffles gluten free and covered in nuts & berries.
          %br/
          %a{:href => "http://www.stoneandsmith.com"}
            www.stoneandsmith.com
        %div{:style => "margin:5px 0px;"}
          %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/stoneandsmith"} Follow @stoneandsmith
        .row-fluid
          .span4
            %h4 Design Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Social Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 90%;"}
        .row-fluid
          .span4
            %h4 Making Skills
          .span8
            .progress.progress-striped
              .bar{:style => "width: 80%;"}

= render "partners"

