<% provide(:title, 'About Us') %>
<!--
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  is a project to make a book and screencasts to teach web development
  with <a href="http://rubyonrails.org/">Ruby on Rails</a>. This
  is the sample application for the tutorial.
</p>
-->

<!-- SmartBiz theme -->
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='hero-unit'>
            <h1>We make things happen.</h1>
          </div>
        </div>
      </section>
      <section class='section' id='content' role='main'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              Meet the team
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
            </h1>
          </div>
          <ul class='thumbnails bordered thumbnail-list'>
            <li class='span4'>
              <a href='#'>
                <figure class='thumbnail-figure'>
                  <img alt='' src='images/assets/people1-600x400.jpeg'>
                    <figcaption class='thumbnail-title'>
                      <h3>
                        <span>Betty Doe</span>
                      </h3>
                      <p>
                        <span>Managing director</span>
                      </p>
                    </figcaption>
                  </img>
                </figure>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </p>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Design Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 75%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Coding Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 80%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Social Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 30%;'></div>
                  </div>
                </div>
              </div>
            </li>
            <li class='span4'>
              <a href='#'>
                <figure class='thumbnail-figure'>
                  <img alt='' src='images/assets/people6-600x400.jpeg'>
                    <figcaption class='thumbnail-title'>
                      <h3>
                        <span>Mary Doe</span>
                      </h3>
                      <p>
                        <span>Assistant director</span>
                      </p>
                    </figcaption>
                  </img>
                </figure>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </p>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Design Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 55%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Coding Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 70%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Social Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 90%;'></div>
                  </div>
                </div>
              </div>
            </li>
            <li class='span4'>
              <a href=''>
                <figure class='thumbnail-figure'>
                  <img alt='' src='images/assets/people9-600x400.jpeg'>
                    <figcaption class='thumbnail-title'>
                      <h3>
                        <span>Sue Doe</span>
                      </h3>
                      <p>
                        <span>SEO manager</span>
                      </p>
                    </figcaption>
                  </img>
                </figure>
              </a>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
              </p>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Design Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 90%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Coding Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 80%;'></div>
                  </div>
                </div>
              </div>
              <div class='row-fluid'>
                <div class='span4'>
                  <h4>Social Skills</h4>
                </div>
                <div class='span8'>
                  <div class='progress progress-striped'>
                    <div class='bar' style='width: 70%;'></div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>
      <section class='section alt'>
        <div class='container'>
          <div class='page-header'>
            <h1>
              Our Clients
              <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</small>
            </h1>
          </div>
          <div class='row-fluid'>
            <ul class='thumbnails bordered pull-center'>
              <li class='span2'>
                <img alt='' src='images/assets/adobe.png'>
                  <h3>Adobe</h3>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/apple.png'>
                  <h3>Apple</h3>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/gnome.png'>
                  <h3>Gnome</h3>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/wordpress.png'>
                  <h3>Wordpress</h3>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/html5.png'>
                  <h3>Html5</h3>
                </img>
              </li>
              <li class='span2'>
                <img alt='' src='images/assets/twitter.png'>
                  <h3>twitter</h3>
                </img>
              </li>
            </ul>
          </div>
        </div>
      </section>