- provide(:title, 'Contact')
= render 'layouts/googleshim', address: '1309 Chestnut Ave., Austin TX 78702'

%section.section
  .container
    .page-header
      %h1
        Tell us what you think
        %small As we continue to build out the service, let us know how we're doing.
    .row-fluid
      .span6
        %p
          We're currently working out of the
          = succeed "." do
            %a{:href => "http://www.austincenterfordesign.com", target: "_blank" } Austin Center for Design

        %br
        %ul.icons
          %li
            %p
              %i.fa.fa-home
              1309 Chestnut Ave., Austin TX 78702
          %li
            %p
              %i.fa.fa-phone
              +1 512 553-2243
          %li
            %p
              %i.fa.fa-envelope
              %a{:href => "mailto:hello@girlsguild.com?Subject=Howdy"}
                hello@girlsguild.com
          %li
            %p
              %i.fa.fa-globe
              www.girlsguild.com
      .span6
        = render 'static_pages/inquiryform', :inquiry => @inquiry

%section#promo.section.alt
  .map-top-shadow
  #map
  .map-bottom-shadow