<% provide(:title, 'Contact') %>
<section class='section alt' id='promo'>
  <div class='map-top-shadow'></div>
  <div id='map'></div>
  <div class='map-bottom-shadow'></div>
</section>
<section class='section'>
  <div class='container'>
    <div class='page-header'>
      <h1>
        Tell us what you think
        <small>As we continue to build out the service, let us know how we're doing.</small>
      </h1>
    </div>
    <div class='row-fluid'>
      <div class='span6'>
        <p>
          We're currently working out of the <a href="htttp://www.austincenterfordesign.com">Austin Center for Design</a>. We'll be looking for workshop space in the coming year, so if you know of any cheap but fabulous warehouse space, let us know!
        </p>
        <ul class='icons'>
          <li>
            <p><i class='icon-home'></i>1201 Hackberry St. Austin, TX. 78702
            </p>
          </li>
          <li>
            <p><i class='icon-phone'></i>+1 512 443-AC4D
            </p>
          </li>
          <li>
            <p><i class='icon-envelope'></i>hello@girlsguild.com
            </p>
          </li>
          <li>
            <p><i class='icon-globe'></i>www.girlsguild.com
            </p>
          </li>
        </ul>
      </div>
      <div class='span6'>
        <%= render 'static_pages/inquiryform', :inquiry => @inquiry %>
      </div>
    </div>
  </div>
</section>
