- provide(:title, 'FAQ for Girls')
/ FAQ For Girls

%section#promo.section.alt
  .container
    .hero-unit
      %h1 FAQ - Joining
      %small
        .pull-right.faqlinknav
          = link_to "FAQ for Posting an Apprenticeship »", faq_makers_path

%br

/%section.section#FAQ
/  .container
/    .row-fluid
/      .span9
/        .row-fluid
/          .span2.pull-center
/            %i.enormous-icon.icon-eye-open.circled.pull-center
/          .span10
/            %h3 Follow Makers & Events You Like
/            %p
/              Let a maker know that you're interested in working with them by signing up for updates. We'll keep you posted when they schedule an event.
/              /%a{href: "#" } Learn More »
/              %br
/            .kristi.pull-left $0.00
/            = link_to "Browse Makers", makers_path, class: "btn btn-small pull-right btn-success"
/
/        %hr/
/
/        .row-fluid
/          .span2.pull-center
/            %i.enormous-icon.icon-wrench.circled.pull-center
/          .span10
/            %h3 Do an Apprenticeship
/            %p
/              Learn the skills, tools, and techniques unique to the artist's creative process while helping with her day-to-day practice. Help create an edition of her work, /collaborate on design, or help her organize an event.
/              %a{href: "#more-do-apprenticeship" } Learn More »
/              %br
/            .kristi.pull-left $29
/            = link_to "Browse Apprenticeships", apprenticeships_path, class: "btn btn-small pull-right btn-success"
/
/        %hr/
/
/        .row-fluid
/          .span2.pull-center
/            %i.enormous-icon.icon-pencil.circled.pull-center
/          .span10
/            %h3 Take a Workshop
/            %p
/              Play with new materials and techniques, or refine your already awesome skills by taking a workshop taught by someone whose work you love.
/              %a{href: "#more-do-workshop" } Learn More »
/              %br
/            .kristi.small $ Varies
/            = link_to "Browse Workshops", workshops_path, class: "btn btn-small pull-right btn-success"
/
/        %hr/
/
/        /.row-fluid
/        /  .span2.pull-center
/        /    %i.enormous-icon.icon-home.circled.pull-center.commingsoon
/        /      .commingsoon-text Coming Soon!
/        /  .span10
/        /    %h3 Do a Studio Visit
/        /    %p
/        /      There's no better way to create and refine your own ideas than by talking about them with smart people. Request or host a studio visit with someone you respect in /the community.
/        /      %a{href: "#moregetlisted" } Learn More »
/        /      %br
/        /    .kristi $0
/        /    = link_to "Register", apprenticeships_path, class: "btn btn-small pull-right btn-success disabled"
/
/
/        %br

%section.section#FAQ
  .container
    .row-fluid
      .span9

        %article.blog-post
          %h2
            About GirlsGuild
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#whatisgirlsguild"}
                  %strong
                    %i.icon-angle-down
                    What is GirlsGuild?
              #whatisgirlsguild.accordion-body.collapse.in
                .accordion-inner
                  GirlsGuild is a service that offers apprenticeships for girls, by girls. We connect girls and women with artists and makers to build a supportive, collaborative community.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#getinvolved"}
                  %strong
                    %i.icon-angle-down
                    How do I get involved?
              #getinvolved.accordion-body.collapse.in
                .accordion-inner
                  There are lots of ways to get involved in GirlsGuild. If you're interested in picking up some new skills and meeting new friends while you're at it, you can take some of our artist-led workshops. If you think you'd like to do an apprenticeship but aren't sure what kind, try a 1-day apprenticeship to get your feet wet and find out what it's all about. And if you're really looking to build your skills and get some real experience working with an artist longer term, apply for a production, event, or ongoing apprenticeship. If you sign up for our newsletter we'll keep you posted on events and new opportunities that come up in the community.
          .accordion#more-do-apprenticeship
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#safety"}
                  %strong
                    %i.icon-angle-down
                    How do I know it’s safe?
              #safety.accordion-body.collapse.in
                .accordion-inner
                  It’s of utmost importance to us that you feel confident attending and participating in our workshops and apprenticeships. We exist to build a supportive and collaborative community of makers, and we make sure the women who get involved are also inspired by this goal. We run background checks on all the makers who offer workshops and apprenticeships as part of our commitment to safety. We encourage any participants or parents with concerns about safety to contact us at any time; we’ll do our best to address any questions or issues that arise.



        %article.blog-post
          %h2
            Applying for an Apprenticeship
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#defineapprenticeship"}
                  %strong
                    %i.icon-angle-down
                    What's an apprenticeship?
              #defineapprenticeship.accordion-body.collapse.in
                .accordion-inner
                  More hands-on than a “mentorship”, more supportive than an “internship”; we define apprenticeships as a collaborative way to trade knowledge and skills for help with making.
                  %br
                  %br
                  In an apprenticeship, a maker works one-on-one with a girl interested in learning the skills of her art. There are a few ways that can look. Some apprenticeships are focused on production, where the apprentice helps the maker produce her work, learning the skills, tools, and process of making by doing them. Other apprenticeships are focused around particular events, such as a gallery show, art auction, or craft fair, where the apprentice helps the maker plan, prepare for, and carry out the event. Still other apprenticeships are simply ongoing opportunities to develop your skills by working alongside and collaborating with the maker. It's about getting real world experience of a maker's work and lifestyle, and building some serious skills in a particular area of making.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#where"}
                  %strong
                    %i.icon-angle-down
                    Where does it happen?
              #where.accordion-body.collapse.in
                .accordion-inner
                  Apprenticeships typically take place in the maker's studio or workspace. Depending on the kind of apprenticeship, it may also involve visiting event venues, fabrication workshops, or other places.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#howlong"}
                  %strong
                    %i.icon-angle-down
                    How long is it for?
              #howlong.accordion-body.collapse.in
                .accordion-inner
                  It depends on the focus of the apprenticeship - some apprenticeships might have a fairly short timeframe of just a few weeks to meet relevant deadlines. Others have a longer lead time or are planned as ongoing over the course of a few months or longer.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#howdoesitwork"}
                  %strong
                    %i.icon-angle-down
                    How does it work?
              #howdoesitwork.accordion-body.collapse.in
                .accordion-inner
                  When a maker is available to take on an apprentice, we list her apprenticeship opportunity on our website. You can apply for the apprenticeship, and when she's reviewed all the applications, the maker chooses the girl who'll be the best fit for the work they'll be doing. We'll let you know her decision, and if you're accepted, you confirm by registering and paying.
          .accordion#more-do-workshop
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#howmuch"}
                  %strong
                    %i.icon-angle-down
                    How much does it cost?
              #howmuch.accordion-body.collapse.in
                .accordion-inner
                  There's a flat fee of $29 for an apprenticeship match. This is charged only after you've been accepted for the apprenticeship and have decided you really want to do it.


        %article.blog-post
          %h2
            Signing up for a 1-Day Apprenticeship (Workshop)
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#define1day"}
                  %strong
                    %i.icon-angle-down
                    What's a 1-Day Apprenticeship (Workshop)?
              #define1day.accordion-body.collapse.in
                .accordion-inner
                  In a 1-Day Apprenticeship, an artist or maker offers to teach a particular project or technique to a group of girls, usually in a 2-3 hour session (some 1-Days have multiple sessions over a few days or weeks). It's a chance to learn from the maker to gain a new skill and make something of your own.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#cost"}
                  %strong
                    %i.icon-angle-down
                    How much does it cost?
              #cost.accordion-body.collapse.in
                .accordion-inner
                  Each 1-Day Apprenticeship is different, so costs vary. When a maker offers to lead a 1-Day, she sets the cost to include the materials and tools that will be used, and to fit the length of the 1-Day. For most 1-Day's, the sign-up fee covers all the materials you’ll use to make something you’ll bring home with you.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#where"}
                  %strong
                    %i.icon-angle-down
                    Where does it happen?
              #where.accordion-body.collapse.in
                .accordion-inner
                  As often as possible, workshops take place in the maker’s own studio or workspace - this gives you a chance to see a little bit of what it’s like working in her world. In situations where her workspace just can’t accommodate a workshop, we work with the maker to find an appropriate venue somewhere else in the community.
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#cantmakeit"}
                  %strong
                    %i.icon-angle-down
                    What if I'm signed up and later I can't make the 1-Day Apprenticeship?
              #cantmakeit.accordion-body.collapse.in
                .accordion-inner
                  That's fine. We offer a full refund if you let us know 7 days beforehand.


        %article.blog-post
          %h2
            General Questions
            %small
          %p
          .accordion
            .accordion-group
              .accordion-heading
                %a.accordion-toggle{"data-toggle" => "collapse", :href => "#securepayment"}
                  %strong
                    %i.icon-angle-down
                    Is my payment transaction secure?
              #securepayment.accordion-body.collapse.in
                .accordion-inner
                  Yes. All transactions on GirlsGuild are over a certified secure connection and we use Stripe; a respected third party service to fulfil payments, refunds, and security.

      / %article.blog-post
      /   %h2
      /     Doing a 1-day Apprenticeship
      /     %small
      /   %p
      /   .accordion
      /     .accordion-group
      /       .accordion-heading
      /         %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q4"}
      /           %strong What's a 1-day apprenticeship?
      /       #q4.accordion-body.collapse
      /         .accordion-inner
      /           In a 1-day apprenticeship, a maker allows 1-4 girls to join her for a few hours in her studio, to give them a glimpse of what her life as an artist is like by showing/demo-ing her tools, her materials, her inspiration and process, and letting the girls try out some small part of it. It's about getting an introduction to the maker's overall practice and the business of her art - that way you'll know if you're interested in learning more about it through workshops or a longer-term apprenticeship.
      /   .accordion
      /     .accordion-group
      /       .accordion-heading
      /         %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q5"}
      /           %strong How does it work?
      /       #q5.accordion-body.collapse
      /         .accordion-inner
      /           When you see a maker listed as open for a one-day apprenticeship on our website, you can request to set one up with her. We'll let her know that you're interested, and she'll suggest a few options for dates/times that could work. You get to choose the day that works for you, and then to confirm it you register and pay.
      /   .accordion
      /     .accordion-group
      /       .accordion-heading
      /         %a.accordion-toggle{"data-toggle" => "collapse", :href => "#q6"}
      /           %strong How much does it cost?
      /       #q6.accordion-body.collapse
      /         .accordion-inner
      /           A 1-day apprenticeship costs $45 for 3-4 hours with a maker in her workspace, learning about what she does and trying it out yourself.


      %aside.span3.sidebar
        .sidebar-widget
          %h3.sidebar-header Have an awesome suggestion for us?
          %p
            We're super new, and we're still building out our service. We'd love to hear your thoughts on what type of opportunities you'd like to see offered, or how we can make this a better service. We also accept love notes.
          %a.btn.btn-primary.pull-right{:href => contact_path} Send email




%section#promo.section.alt.donate
  %a{name: "donate"}
  .hero-unit.pull-center

    %h1.pull-center Cool, right? Help us do more!
    %p.pull-center
      Donate to the scholarship fund by making a purchase in our Etsy store to help provide apprenticeship
      %br opportunities like these in partnership with youth advocacy organizations and programs for at-risk youth.

    = link_to "#{content_tag(:i, "", class: "icon-gift")} Donate a Scholarship".html_safe, "https://www.etsy.com/shop/GirlsGuildGoods", class: "btn btn-large btn-primary", target: "_blank"

    /%form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
    / %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
    / %input{:name => "hosted_button_id", :type => "hidden", :value => "8GLHRBAARGK2J"}/
    / %input{:alt => "Donate a Scholarship", :border => "0", :name => "submit", :class => "btn btn-large btn-primary", :type => "image"}/
    / %img{:alt => "Donate a Scholarship", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
    %br
    %br
