<% provide(:title, 'FAQ') %>
<!--
<h1>Help</h1>
<p>
  Get help on the Ruby on Rails Tutorial at the
  <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
  To get help on this sample app, see the
  <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
</p>
-->

<!-- SmartBiz theme -->
      <section class='section alt' id='promo'>
        <div class='container'>
          <div class='hero-unit'>
            <h1>FAQ page</h1>
          </div>
        </div>
      </section>
      <section class='section'>
        <div class='container'>
          <div class='row-fluid'>
            <div class='span9'>
              <article class='blog-post'>
                <header class='blog-header'>
                  <h2>
                    Got questions?
                    <small>we got some answers</small>
                  </h2>
                </header>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
                <div class='accordion'>
                  <div class='accordion-group'>
                    <div class='accordion-heading'>
                      <a class='accordion-toggle' data-toggle='collapse' href='#qOne'>
                        <strong>1. Why this theme is so nice?</strong>
                      </a>
                    </div>
                    <div class='accordion-body collapse' id='qOne'>
                      <div class='accordion-inner'>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
                <div class='accordion'>
                  <div class='accordion-group'>
                    <div class='accordion-heading'>
                      <a class='accordion-toggle' data-toggle='collapse' href='#qTwo'>
                        <strong>2. Why is bootstrap so important?</strong>
                      </a>
                    </div>
                    <div class='accordion-body collapse' id='qTwo'>
                      <div class='accordion-inner'>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
                <div class='accordion'>
                  <div class='accordion-group'>
                    <div class='accordion-heading'>
                      <a class='accordion-toggle' data-toggle='collapse' href='#qThree'>
                        <strong>3. How do I get it?</strong>
                      </a>
                    </div>
                    <div class='accordion-body collapse' id='qThree'>
                      <div class='accordion-inner'>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
                <div class='accordion'>
                  <div class='accordion-group'>
                    <div class='accordion-heading'>
                      <a class='accordion-toggle' data-toggle='collapse' href='#qFour'>
                        <strong>4. Why do I keep asking?</strong>
                      </a>
                    </div>
                    <div class='accordion-body collapse' id='qFour'>
                      <div class='accordion-inner'>
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <aside class='span3 sidebar'>
              <div class='sidebar-widget'>
                <h2 class='sidebar-header'>Want more?</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.
                </p>
                <button class='btn btn-primary' type='submit'>Send email</button>
              </div>
            </aside>
          </div>
        </div>
      </section>