/ Main Content
#hmpg
  #content{:role => "main"}
    %section#promo.section.alt.hmpg-spotlight
      .container
        .span6
          .hero-unit
            %h1 Join the Maker Community
            %p.dosis5 Apprenticeships for girls, by girls.
            %div{:style => "display:inline;"}
              = link_to "JOIN US FOR FREE", new_user_registration_path, class: "btn btn-large btn-primary"
            .fb-like{"data-href" => "http://www.facebook.com/GirlsGuild", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450", :style => "float:right; margin:5px;"}
            %div{:style => "float:right; margin:9px;"}
              %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/TheGirlsGuild"} Follow @TheGirlsGuild

    %section.section#goals
      .container
        .row-fluid
          .span4
            .row-fluid
              %ul.pull-center.valueprop
                %h2 Share
                %li Find Help
                %li Share your Skills
                %li Expand Production
                %li Build your Network
                %li Collaborate & Learn Together
                %li
                  = link_to "Get Involved »", get_involved_path, class: "learnmore"

          .span4.calloutbubble
            .row-fluid
              .well
                %ul.pull-center
                  %h2
                    Help us
                    %br
                    .smaller Launch
                    .kristi The
                    .smaller Beta App
                  %h3
                    Come kick the tires
                    %br
                    at a Maker's Party
                    .kristi or
                    Post an Idea NOW!

                  = link_to "Get Started", get_involved_path, class: "btn btn-large btn-callout"

          .span4
            .row-fluid
              %ul.pull-center.valueprop
                %h2 Learn
                %li Work with Amazing Makers
                %li Learn a Technique
                %li Build a Portfolio
                %li Be part of a Community
                %li Understand Small Business
                %li
                  = link_to "Get Involved »", get_involved_path, class: "learnmore"

    %section.section#newsletter
      .container
        .row-fluid
          / Modal
          #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
            .modal-header
              %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
              %h3#myModalLabel Sign Up!
            .modal-body
              / Begin MailChimp Signup Form
              #mc_embed_signup
                %form#mc-embedded-subscribe-form.validate.input-append.bttn-newsletter{:action => "http://girlsguild.us4.list-manage.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&id=aea5bd62bf", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => ""}
                  %label{:for => "mce-EMAIL"} For our rad monthly newsletters!
                  %input#mce-EMAIL.span5.email{:name => "EMAIL", :placeholder => "Your Email", :required => "", :type => "email"}/
                  %button#mc-embedded-subscribe.btn.btn-primary.button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Sign up
              / End mc_embed_signup
            .modal-footer
              %a{"aria-hidden" => "true", "data-dismiss" => "modal"} I'll do this later

          .span6.getthedrop
            %p get the drop on it!
          .span6.signup
            %form#mc-embedded-subscribe-form.validate.input-append.bttn-newsletter{:action => "http://girlsguild.us4.list-manage.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&id=aea5bd62bf", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              %input#mce-EMAIL.span6.email{:name => "EMAIL", :placeholder => "Your Email", :required => "", :type => "email"}/
              %button#mc-embedded-subscribe.btn.btn-primary.button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Sign up for our Newsletter!
          %br
    %section.section.alt#mission
      .container
        .row-fluid
          .span4
            .well
              %h4
                1. Play
                %i.icon-beaker
              %p Discover new skills, connect with others, and collaborate.

          .span4
            .well
              %h4
                2. Passion
                %i.icon-bolt
              %p Build skills, grow your passion, & make strong connections.
          .span4
            .well
              %h4
                3. Purpose
                %i.icon-bullhorn
              %p Refine skills, find your voice & influence others.
    %section
      .container
        .page-header
          %h4.pull-center
            Featured in
        .row-fluid
          %ul.thumbnails.bordered.pull-center
            %li.span2
              /%img{:alt => "Poppy Talk", :src => "images/assets/press/poppytalk.png"}/
              %img{:alt => "Austin Monthly", :src => "images/assets/press/austinmonthly.png"}/
              %h5
                %a{:href => "http://www.austinmonthly.com/AM/May-2013/113-Fun-Things-to-Do-This-Summer-Arts-Crafts/", :target => "_blank"} Austin Monthly
            %li.span2
              %img{:alt => "Culture Map", :src => "images/assets/press/culturemap.png"}/
              %h5
                %a{:href => "http://austin.culturemap.com/newsdetail/06-08-12-22-40-girls-guild-building-a-community-of-artistic-women-through-apprenticeships/", :target => "_blank"} Culture Map
            %li.span2
              %img{:alt => "Best In Austin", :src => "images/assets/press/bestinaustin.png"}/
              %h5
                %a{:href => "http://www.austinchronicle.com/gyrobase/Awards/BestOfAustin?Award=1373018", :target => "_blank"} Best in Austin
            %li.span2
              %img{:alt => "Tribeza", :src => "images/assets/press/tribeza.png"}/
              %h5
                %a{:href => "http://www.tribeza.com/magazine_content/girlsguild", :target => "_blank"} Tribeza
            %li.span2
              %img{:alt => "Creative Little Beasts", :src => "images/assets/press/creativelbeasts.png"}/
              %h5
                %a{:href => "http://creativelittlebeasts.tumblr.com/post/31990019776/handmade-to-sell-with-kelly-rand-and-girls-guild", :target => "_blank"} Creative Little Beasts
            %li.span2
              %img{:alt => "Apartment Therapy", :src => "images/assets/press/apartmenttherapy.png"}/
              %h5
                %a{:href => "http://www.apartmenttherapy.com/cheyenne-weavers-gilded-simplicityhome-tour-171948", :target => "_blank"} Apartment Therapy
          %hr/