/ Main Content
#hmpg
  #content{:role => "main"}
    %section#promo.section.alt.hmpg-spotlight
      .container.alt
        #myCarousel.carousel.slide
          / Carousel items
          .carousel-inner
            / .item.leading
            /   .row-fluid
            /     .span12
            /       .hero-unit
            /         .row-fluid
            /           .span4.pull-center.well
            /             %h3 Post an Apprenticeship
            /             %p Get started by choosing an apprenticeship type based on your needs: Event, Production, Ongoing, or 1-Day. Then fill out the rest of our simple form.
            /           .span4.pull-center.well
            /             %h3 Set a Date
            /             %p Set a date when you're ready. We'll notify your followers and give them first dibs on signups. Then we'll notify the rest of the Guild.
            /           .span4.pull-center.well
            /             %h3 Work Together
            /             %p When the date comes, we'll notify your participants and apprentices to remind them of details, and give them credit for their work.

            .item.overview.active
              .row-fluid
                .span6
                  .hero-unit
                    %h1 Apprenticeships 4 girls by girls
                    .tagline.dosis5 Work alongside Makers in short & long-term apprenticeships.
                    .socials
                      .fb-like{"data-colorscheme" => "dark", "data-href" => "http://www.facebook.com/GirlsGuild", "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false", "data-width" => "450", :style => "margin:5px 5px 0 0; float:left;"}
                      %div{:style => "margin:5px; float:right;"}
                        %a.twitter-follow-button{"data-lang" => "en", "data-show-count" => "false", :href => "https://twitter.com/TheGirlsGuild"} Follow @TheGirlsGuild

            / .item.learning
            /   .row-fluid
            /     .span12
            /       .hero-unit
            /         .row-fluid
            /           .span3.pull-center.well
            /             %h3 Follow a Maker
            /             %p See a maker you like? Follow them to show your interest and to get first dibs when they create an event.
            /           .span3.pull-center.well
            /             %h3 Sign up or Apply
            /             %p Sign up for a workshop or apply for an apprenticeship and get started learning today - it’s super easy!
            /           .span3.pull-center.well
            /             %h3 Meet up to Learn
            /             %p Get a taste of what its like to be a cobbler, a baker, a candlestick maker by working with the Maker in her workspace.
            /           .span3.pull-center.well
            /             %h3 Show off yr Skilz
            /             %p We track the skills and tools you’re learning in every workshop & apprenticeship - eventually leading to a fab portfolio!


          / / Carousel nav
          / %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} ‹
          / %a.left.carousel-control.extra{"data-slide" => "prev", :href => "#myCarousel"}
          / %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} ›
          / %a.right.carousel-control.extra{"data-slide" => "next", :href => "#myCarousel"}
          / :javascript
          /   $('#myCarousel').on('slid', '', function() {
          /   var $this = $(this);

          /   $this.children('.carousel-control').show();

          /   if($('.carousel-inner .item:first').hasClass('active')) {
          /   $this.find('.left.carousel-control').hide();
          /   } else if($('.carousel-inner .item:last').hasClass('active')) {
          /   $this.children('.right.carousel-control').hide();
          /   }
          /   });



    %section.section#newsletter
      .container
        .row-fluid
          .span6
            %br
            %br
            %form#mc-embedded-subscribe-form.validate.input-append.bttn-newsletter{:action => "http://girlsguild.us4.list-manage.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&id=aea5bd62bf", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              %input#mce-EMAIL.span5.email{:name => "EMAIL", :placeholder => "Your Email", :required => "", :type => "email"}/
              %button#mc-embedded-subscribe.btn.btn-primary.button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Sign up for our Newsletter!
            .stayuptodate
              %p Stay up to date!
            / Modal
            #myModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
              .modal-header
                %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                %h3#myModalLabel Sign Up!
              .modal-body
                / Begin MailChimp Signup Form
                #mc_embed_signup
                  %form#mc-embedded-subscribe-form.validate.input-append.bttn-newsletter{:action => "http://girlsguild.us4.list-manage.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&id=aea5bd62bf", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => ""}
                    %label{:for => "mce-EMAIL"} For our rad monthly newsletters!
                    %input#mce-EMAIL.span5.email{:name => "EMAIL", :placeholder => "Your Email", :required => "", :type => "email"}/
                    %button#mc-embedded-subscribe.btn.btn-primary.button{:name => "subscribe", :type => "submit", :value => "Subscribe"} Sign up

              .modal-footer
                %a{"aria-hidden" => "true", "data-dismiss" => "modal"} I'll do this later

              / Newsletter Modal load
              :javascript
                $(window).load(function(){
                 if ($.cookie('#myModal') != 'shown')
                {
                  $.cookie('#myModal', 'shown');
                    $('#myModal').modal('show');
                }
                });
          .span6.testimonials
            .rotating-testimonials
              / "rotating-testimonials" is a required class - set the speed in application.js
              .panels
                #t1
                  %blockquote.blockquote-fancy.blockquote-fancy-small
                    .blockquote-img
                      %img{:alt => "", :src => "images/assets/testimonials/MChapman.jpeg"}/
                    %p "Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
                    %footer.pull-right
                      %a{:href => "/testimonials"} - Melissa Chapman, Stone & Smith
                #t2
                  %blockquote.blockquote-fancy.blockquote-fancy-small
                    .blockquote-img
                      %img{:alt => "", :src => "images/assets/testimonials/SSimmons.jpeg"}/
                    %p "I put my apprenticeship with GirlsGuild on my resume, and it was actually a conversation piece in my job interviews."
                    %br
                    %footer.pull-right
                      %a{:href => "/testimonials"} - Samantha Simmons, Event Apprentice
                #t3
                  %blockquote.blockquote-fancy.blockquote-fancy-small
                    .blockquote-img
                      %img{:alt => "", :src => "images/assets/testimonials/AGieselman.jpeg"}/
                    %p "I taught class to a group of young woman who learned new skills that they may not have had access to before.  These skills are not only fun and cool but also empowering."
                    %footer.pull-right
                      %a{:href => "/testimonials"} - Anna Gieselman, Bee Amour
                #t4
                  %blockquote.blockquote-fancy.blockquote-fancy-small
                    .blockquote-img
                      %img{:alt => "", :src => "images/assets/testimonials/CValentine.jpeg"}/
                    %p "Thanks for the opportunity to join Son of a Sailor! I started the apprenticeship today and already made 10 necklaces, how great, right? Jessica is a dream to work with!"
                    %footer.pull-right
                      %a{:href => "/testimonials"} - Christina Valentine, Production Apprentice
              %ul.tabs
                %li.tab
                  %a{:href => "#t1"} Melissa-Chapman
                %li.tab
                  %a{:href => "#t2"} Samantha-Simmons
                %li.tab
                  %a{:href => "#t3"} Anna-Gieselman
                %li.tab
                  %a{:href => "#t4"} Christina-Valentine



    %section.section.alt#event-previews
      .container
        %h2.pull-center Coming Up
        = link_to "Browse Events »", events_path, class: "more-events"
        .row
          - unless @events.blank?
            = render 'events/event-home', events: @events
          - unless @tba_events.blank?
            = render 'events/event-home', events: @tba_events


    %section.section#goals
      .container
        .row-fluid
          .span12.calloutbubble
            .row-fluid
              .span4.center
                %br
                %h2
                  ap&bull;pren&bull;tice&bull;ship
                %br
              .span6
                %ul
                  %li
                    %br
                    More hands-on than a mentorship, more supportive than an internship;
                    %br a collaborative way to trade knowledge and skills for help with making.
                    %br

              .span2
                %br
                %br
                %a{"data-target" => "#", :href => "/apprenticeships/new", class: "btn btn-large btn-success"} How it Works »


    %section
      .container
        .page-header
          %h4.pull-center
            Featured in
        .row-fluid
          %ul.thumbnails.bordered.pull-center
            %li.span2
              /%img{:alt => "Poppy Talk", :src => "images/assets/press/poppytalk.png"}
              %h5
                %a{:href => "http://www.austinmonthly.com/AM/May-2013/113-Fun-Things-to-Do-This-Summer-Arts-Crafts/", :target => "_blank"}
                  %img{:alt => "Austin Monthly", :src => "images/assets/press/austinmonthly.png"}
                  %br
                  Austin Monthly
            %li.span2
              %h5
                %a{:href => "http://austin.culturemap.com/newsdetail/06-08-12-22-40-girls-guild-building-a-community-of-artistic-women-through-apprenticeships/", :target => "_blank"}
                  %img{:alt => "Culture Map", :src => "images/assets/press/culturemap.png"}
                  %br
                  Culture Map
            %li.span2
              %h5
                %a{:href => "http://www.austinchronicle.com/gyrobase/Awards/BestOfAustin?Award=1373018", :target => "_blank"}
                  %img{:alt => "Best In Austin", :src => "images/assets/press/bestinaustin.png"}
                  %br
                  Best in Austin
            %li.span2
              %h5
                %a{:href => "http://www.fastcompany.com/3015532/the-10000-design-degree", :target => "_blank"}
                  %img{:alt => "Fast Company", :src => "images/assets/press/fastcompany.png"}
                  %br
                  Fast Company
            %li.span2
              %h5
                %a{:href => "http://creativelittlebeasts.tumblr.com/post/31990019776/handmade-to-sell-with-kelly-rand-and-girls-guild", :target => "_blank"}
                  %img{:alt => "Creative Little Beasts", :src => "images/assets/press/creativelbeasts.png"}
                  %br
                  Creative Little Beasts
            %li.span2
              %h5
                %a{:href => "http://www.tribeza.com/magazine_content/girlsguild", :target => "_blank"}
                  %img{:alt => "Tribeza", :src => "images/assets/press/tribeza.png"}
                  %br
                  Tribeza
          %hr/