<!-- Mailchimp newsletter signup page -->
<% provide(:title, 'Newsletter') %>
<!-- SmartBiz theme -->
<section class='section alt' id='promo'>
	<div class='container'>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
			<form action="http://girlsguild.us4.list-manage1.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&amp;id=968aec4fad" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<h2>Subscribe to our mailing list</h2>
				<div class="indicates-required">
					<span class="asterisk">*</span>
					indicates required
				</div>
				<div class="mc-field-group">
					<label for="mce-EMAIL">
						Email Address
						<span class="asterisk">*</span>
					</label>
					<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL"></div>
				<div class="mc-field-group">
					<label for="mce-FNAME">
						First Name
						<span class="asterisk">*</span>
					</label>
					<input type="text" value="" name="FNAME" class="required" id="mce-FNAME"></div>
				<div class="mc-field-group">
					<label for="mce-LNAME">
						Last Name
						<span class="asterisk">*</span>
					</label>
					<input type="text" value="" name="LNAME" class="required" id="mce-LNAME"></div>
				<div class="mc-field-group">
					<label for="mce-MMERGE3">
						Where did you hear about us?
						<span class="asterisk">*</span>
					</label>
					<input type="text" value="" name="MMERGE3" class="required" id="mce-MMERGE3"></div>
				<div class="mc-field-group input-group"> <strong>Do you live in/near Austin?
						<span class="asterisk">*</span></strong> 
					<ul>
						<li>
							<input type="radio" value="Yes, in Austin" name="MMERGE4" id="mce-MMERGE4-0">
							<label for="mce-MMERGE4-0">Yes, in Austin</label>
						</li>
						<li>
							<input type="radio" value="No, outside Austin" name="MMERGE4" id="mce-MMERGE4-1">
							<label for="mce-MMERGE4-1">No, outside Austin</label>
						</li>
					</ul>
				</div>
				<div class="mc-field-group input-group"> <strong>I'm interested in...</strong>
					<ul>
						<li>
							<input type="checkbox" value="1" name="group[3449][1]" id="mce-group[3449]-3449-0">
							<label for="mce-group[3449]-3449-0">taking a session! (I'm under 19 years old.)</label>
						</li>
						<li>
							<input type="checkbox" value="2" name="group[3449][2]" id="mce-group[3449]-3449-1">
							<label for="mce-group[3449]-3449-1">taking a session! (I'm over 19 years old.)</label>
						</li>
						<li>
							<input type="checkbox" value="4" name="group[3449][4]" id="mce-group[3449]-3449-2">
							<label for="mce-group[3449]-3449-2">having my daughter take a session.</label>
						</li>
						<li>
							<input type="checkbox" value="8" name="group[3449][8]" id="mce-group[3449]-3449-3">
							<label for="mce-group[3449]-3449-3">leading a session as an artist.</label>
						</li>
						<li>
							<input type="checkbox" value="16" name="group[3449][16]" id="mce-group[3449]-3449-4">
							<label for="mce-group[3449]-3449-4">
								partnering GirlsGuild with the school/organization I work with.
							</label>
						</li>
						<li>
							<input type="checkbox" value="32" name="group[3449][32]" id="mce-group[3449]-3449-5">
							<label for="mce-group[3449]-3449-5">just getting occasional emails.</label>
						</li>
					</ul>
				</div>
				<div class="mc-field-group input-group">
					<strong>Email Format</strong>
					<ul>
						<li>
							<input type="radio" value="html" name="EMAILTYPE" id="mce-EMAILTYPE-0">
							<label for="mce-EMAILTYPE-0">html</label>
						</li>
						<li>
							<input type="radio" value="text" name="EMAILTYPE" id="mce-EMAILTYPE-1">
							<label for="mce-EMAILTYPE-1">text</label>
						</li>
						<li>
							<input type="radio" value="mobile" name="EMAILTYPE" id="mce-EMAILTYPE-2">
							<label for="mce-EMAILTYPE-2">mobile</label>
						</li>
					</ul>
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				<div class="clear">
					<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</form>
		</div>
		<!--End mc_embed_signup-->
	</div>
</section>
