- provide(:title, 'Swatches')
/ Swatches

%section#promo.section.alt
  .container
    .hero-unit
      %h1 Swatches & Extra Styles


%section.section#FAQ
  .container
    .row-fluid

      %i.icon-camera-retro
      icon-camera-retro

      %hr

      .well
        %i.icon-quote-left.icon-4x.pull-left.icon-muted
        Use a few of the new styles together, and you've got easy pull quotes or a great introductory article image. Or spinning icons for loading and refreshing content. Or fun big icons in multi-line buttons. You can combine all of them in any combination to get lots of new possibilities.

    .row-fluid
      .span3
        %a.btn{:href => "#"}
          %i.icon-repeat
          Reload
        %a.btn.btn-success{:href => "#"}
          %i.icon-shopping-cart.icon-large
          Checkout
        %a.btn.btn-large.btn-primary{:href => "#"}
          %i.icon-comment
          Comment
        %a.btn.btn-small.btn{:href => "#"}
          %i.icon-info-sign
          Info
        %a.btn.btn-danger{:href => "#"}
          %i.icon-trash.icon-large
          Delete
        %a.btn.btn-small{:href => "#"}
          %i.icon-cog
          Settings
        %a.btn.btn-large.btn-danger{:href => "#"}
          %i.icon-flag.icon-2x.pull-left
          Font Awesome
          %br>/
          Version 3.2.1
        %a.btn.btn-primary{:href => "#"}
          %i.icon-refresh.icon-spin
          Synchronizing Content...



      .span3
        .btn-group
          %a.btn{:href => "#"}
            %i.icon-align-left
          %a.btn{:href => "#"}
            %i.icon-align-center
          %a.btn{:href => "#"}
            %i.icon-align-right
          %a.btn{:href => "#"}
            %i.icon-align-justify

        %hr

        .well
          .rating
            %span.icon-star-empty
            %span.icon-star-empty
            %span.icon-star-empty
            %span.icon-star-empty
            %span.icon-star-empty



      .span3
        %ul.nav.nav-list
          %li.active
            %a{:href => "#"}
              %i.icon-fixed-width.icon-home
              Home
          %li
            %a{:href => "#"}
              %i.icon-fixed-width.icon-book
              Library
          %li
            %a{:href => "#"}
              %i.icon-fixed-width.icon-pencil
              Applications
          %li
            %a{:href => "#"}
              %i.icon-fixed-width.icon-cogs
              Settings

      .span3
        %i.icon-spinner.icon-spin.icon-large
        Spinner icon when loading content...

        %hr

        %i.icon-shield
        normal
        %br/
        %i.icon-shield.icon-rotate-90
        icon-rotate-90
        %br/
        %i.icon-shield.icon-rotate-180
        icon-rotate-180
        %br/
        %i.icon-shield.icon-rotate-270
        icon-rotate-270
        %br/
        %i.icon-shield.icon-flip-horizontal
        icon-flip-horizontal
        %br/
        %i.icon-shield.icon-flip-vertical
        icon-flip-vertical