- provide(:title, 'Testimonials')

#content{:role => "main"}
  %section#promo.section.alt
    .container
      %blockquote.blockquote-fancy
        .blockquote-img
          %img{:alt => "", :src => "images/assets/people1-200x200.jpeg"}/
        %p.pull-center
          "Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
          %a.pull-center{:href => "#"} Melissa Chapman, Stone & Smith
  %section.section
    .container
      .page-header
        %h1 What other apprentices said
      .row-fluid
        %blockquote.blockquote-fancy.blockquote-fancy-small.span6
          .blockquote-img
            %img{:alt => "", :src => "images/assets/people3-200x200.jpeg"}/
          %p.pull-center
            "I didn't think I would find an internship like this that wasn't business or medical, so didn't know to look"
            %a.pull-center{:href => "#"} Veronica, Production Apprentice wih Stone & Smith
        %blockquote.blockquote-fancy.blockquote-fancy-small.span6
          .blockquote-img
            %img{:alt => "", :src => "images/assets/people2-200x200.jpeg"}/
          %p.pull-center
            "When I dropped her off, she told me I was her biggest cheer which I think was meant as a translation to biggest fan. It's so true!"
            %a.pull-center{:href => "#"} Melissa Chapman, Stone & Smith
      %hr/
      .row-fluid
        %blockquote.blockquote-fancy.blockquote-fancy-small.span6
          .blockquote-img
            %img{:alt => "", :src => "images/assets/people5-200x200.jpeg"}/
          %p.pull-center
            "She and I went over things like why prom sucks, her tales of running the yearbook staff, twitter drama, why 17 year old boys are the worst, and most importantly - we got a ton of good, creative work done!"
            %a.pull-center{:href => "#"} Melissa Chapman, Stone & Smith
        %blockquote.blockquote-fancy.blockquote-fancy-small.span6
          .blockquote-img
            %img{:alt => "", :src => "images/assets/people6-200x200.jpeg"}/
          %p.pull-center
            "We had the best time ever. she's down to help me with boring production work. Her parents hugged me three times and made sure i knew that my home was their home. She and i have like 6 more dates already on the calendar, I'm writing a college recommendation letter for her. I already know we'll be friends always"
            %a.pull-center{:href => "#"} Melissa Chapman, Stone & Smith
      %hr/



%section.section.alt
  .container
    .page-header
      %h1
        Guild Partners
        %small // A few of our favorite organizations we've worked with in the last year.
    .row-fluid
      %ul.thumbnails.bordered.pull-center
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/bbbs.png"}/
          %h3
            %a{"data-original-title" => "Partner", "data-placement" => "bottom", :href => "http://www.bigmentoring.org/site/c.bkLVKdOQLjK6E/b.6458477/k.2DD3/Big_Brothers_Big_Sisters_of_Central_Texas__Austin_Travis_County_Hays_County_Williamson_County.htm", :rel => "tooltip", :target => "_blank"} BBBS
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/genaustin.png"}/
          %h3
            %a{"data-original-title" => "Partner", "data-placement" => "bottom", :href => "http://genaustin.org/", :rel => "tooltip", :target => "_blank"} GENAustin
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/gdi.png"}/
          %h3
            %a{"data-original-title" => "Our Mentors", "data-placement" => "bottom", :href => "http://www.meetup.com/Girl-Develop-It-Austin/", :rel => "tooltip", :target => "_blank"} Girl Develop It
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/skillcrush.png"}/
          %h3
            %a{"data-original-title" => "Our Tech Crush!", "data-placement" => "bottom", :href => "http://skillcrush.com/", :rel => "tooltip", :target => "_blank"} Skillcrush
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/feliz.png"}/
          %h3
            %a{"data-original-title" => "Friend and Partner", "data-placement" => "bottom", :href => "http://felizsale.com/", :rel => "tooltip", :target => "_blank"} Feliz
        %li.span2
          %img{:alt => "", :src => "images/assets/partners/ac4d.png"}/
          %h3
            %a{"data-original-title" => "The Braintrust!", "data-placement" => "bottom", :href => "http://www.austincenterfordesign.com/", :rel => "tooltip", :target => "_blank"} AC4D