- provide(:title, 'Testimonials')
%section#promo.section.alt
  .container
    .hero-unit
      %h1 Testimonials
%section.section
  .container
    .page-header
      %h1 What the community is saying
    .row-fluid
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/people2-200x200.jpeg"}/
        %p.pull-center
          "It was a blast and I would do it all over again exactly like it happened. :-) I can't wait to be involved in more GirlsGuild programs in the future."
          %a.pull-center{:href => "#"} Logan, Event Apprenticeship wih Teruko Nimura
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/testimonials/CThompson.jpeg"}/
        %p.pull-center
          "It was a super fun day and I've gotten the sweetest thank you e-mails from the attendees. It was very powerful to feel how helpful I could be for folks."
          %a.pull-center{:href => "#"} Callen Thompson, Texas Land Conservancy
    %hr/
    .row-fluid
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/testimonials/VTalamas.jpeg"}/
        %p.pull-center
          "I didn't think I would find an internship like this that wasn't business or medical, so didn't even know to look"
          %a.pull-center{:href => "#"} Veronica, Production Apprentice with Stone & Smith
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/testimonials/MChapman.jpeg"}/
        %p.pull-center
          /"Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
          /"She and I went over things like why prom sucks, her tales of running the yearbook staff, twitter drama, why 17 year old boys are the worst, and most importantly - we got a ton of good, creative work done!"
          /"When I dropped her off, she told me I was her biggest cheer which I think was meant as a translation to biggest fan. It's so true!"
          "Her parents hugged me three times and made sure i knew that my home was their home... I'm writing a college recommendation letter for her. I already know we'll be friends always"
          %a.pull-center{:href => "#"} Melissa Chapman, Stone & Smith
    %hr/
    .row-fluid
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/testimonials/SSimmons.jpeg"}/
        %p.pull-center
          "I put my apprenticeship with GirlsGuild on my resume, and it was actually a conversation piece in my job interviews."
          %a.pull-center{:href => "#"} Samantha, Event Apprentice with GirlsGuild
      %blockquote.blockquote-fancy.blockquote-fancy-small.span6
        .blockquote-img
          %img{:alt => "", :src => "images/assets/testimonials/AGieselman.jpeg"}/
        %p.pull-center
          "I taught a class to a bunch of young women who will be learning new skills that they don't usually learn in school or wouldn't have access to normally, and it's stuff thats fun, cool, and empowering."
          %a.pull-center{:href => "#"} Anna Gieselman, Bee Amour
    %hr/

= render "partners"