<!-- this page will be the landing page for people who subscribe to the newsletter from MailChimp
	*Remember: need to redirect to this url in the mailchimp list options -->
<% provide(:title, 'Thanks!') %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<div>
			<p>
				Nice one! Thanks for sending us an email.
			</p>
		</div>
	</div>
</section>