<!-- this page will be the landing page for people who subscribe to the newsletter from MailChimp
	*Remember: need to redirect to this url in the mailchimp list options -->
<% provide(:title, 'Thanks!') %>
<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<div>
			<h1>
				Zoom!
			</h1>
			<p>
				Thanks for sending us an email.
			</p>
		</div>
	<% end %>
<% end %>