<!-- this page will be the landing page for people who subscribe to the newsletter from MailChimp
	*Remember: need to redirect to this url in the mailchimp list options -->
<% provide(:title, 'Thank You') %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<div>
			<h2>
				Yatzee!
			</h2>
			<p>
				Thanks for signing up for the GirlsGuild Newsletter.
			</p>
		</div>
	<% end %>
<% end %>