/ landing page for website inquiries from the contact page
- provide(:title, 'Thanks!')
%section#promo.section
  .container
    %div
      %h1
        Word. 
      %p
        Thanks for sending us an email! We'll get back to you as soon as we possibly can.