/
  this page will be the landing page for people who subscribe to the newsletter from MailChimp
  *Remember: need to redirect to this url in the mailchimp list options
- provide(:title, 'Thank You')
%section#promo.section
  .container
    %div
      %h1 Nice one!
      %p Thanks for joining the GirlsGuild Newsletter.