- provide(:title, 'Why Join?')
%section#promo.section.alt
  .container
    #myCarousel.carousel.slide
      / Carousel items
      .carousel-inner
        .active.item
          %h1.pull-center.kristi
            For Makers
          .row-fluid
            .well.pricing-table.pricing-table-featured.span3.pull-center
              %h3
                %span.blocked Post an Idea
              %h2.pricing-table-price
                %span $
                0
              %ul.pricing-table-list
                %li Upload 5 photos
                %li 5 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked Do a Studio Visit
              %h2.pricing-table-price
                %span $
                15
              %ul.pricing-table-list
                %li 5 projects
                %li 10 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked List an Apprenticeship
              %h2.pricing-table-price
                %span $
                9
              %ul.pricing-table-list
                %li 10 projects
                %li 50 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked Build a Workshop
              %h2.pricing-table-price
                %span + $
                85%
              %ul.pricing-table-list
                %li 100 projects
                %li 500 GB Storage
                %li Unlimited Users
                %li 100 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
        .item
          %h1.pull-center.kristi
            For Girls
          .row-fluid
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked Create a Portfolio
              %h2.pricing-table-price
                %span $
                0
              %ul.pricing-table-list
                %li 1 project
                %li 5 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center.pricing-table-featured.featured-orange
              %h3
                %span.blocked Do a Studio Visit
              %h2.pricing-table-price
                %span $
                15
              %ul.pricing-table-list
                %li 5 projects
                %li 10 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked Do an Apprenticeship
              %h2.pricing-table-price
                %span $
                29
              %ul.pricing-table-list
                %li 10 projects
                %li 50 GB Storage
                %li Unlimited Users
                %li 10 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
            .well.pricing-table.span3.pull-center
              %h3
                %span.blocked Take a Workshop
              %h2.pricing-table-price
                %span $
                Varies
              %ul.pricing-table-list
                %li 100 projects
                %li 500 GB Storage
                %li Unlimited Users
                %li 100 GB Bandwidth
              %a.btn.btn-primary{:href => "#"}
                Get Started
      / Carousel nav
      %a.carousel-control.left{"data-slide" => "prev", :href => "#myCarousel"} ‹
      %a.carousel-control.right{"data-slide" => "next", :href => "#myCarousel"} ›
%section.section
  .container
    .page-header
      %h1
        Get Involved!
        %small &nbsp; We think you're kind of a big deal.
        //and we wanna help you find your voice!
    .row-fluid
      %ul.thumbnails.bordered
        %li.span6
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Post an Idea
              %p
                We want to get you involved! Post an idea for collaboration, upload a few images, and we'll notify you when someone wants to work with you!
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Pre-register with a Maker
              %p
                Let a maker know that you're interested in working with them by joining their guild. You'll be the first to know when they schedule an event.
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do a Studio Visit
              %p
                There's no better way to create and refine your own opinions than by talking about them with smart people. Request a studio visit with someone you respect in the community.
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do a Workshop
              %p
                Play with new materials and techniques or refine your skills by taking a workshop taught by someone who's work you love.


        %li.span6
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do a 1-Day Apprenticeship
              %p
                Get a taste of what it's like to be a carpenter, a web developer, a painter, or a baker, by signing up for a 1-Day Apprenticeship!
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do an Event Apprenticeship
              %p
                Help a maker out with organizing, running, curating, or facilitating an event! Learn first hand what it takes to hang a show, or organize a gala.
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do a Production Apprenticeship
              %p
                Learn the skills, tools, and techniques unique to the artist's creative process while helping a maker create an edition of her work for an order, a sale, or a show.
          %hr/
          .row-fluid
            .span4.pull-center
              %i.icon-check.enormous-icon.circled.pull-center
            .span8
              %h3 Do an Ongoing Apprenticeship
              %p
                Work with a creative by assisting her with her day-to-day studio tasks. Help her create work and learn what it's like to own and operate a small creative business.

%section#promo.section.alt
  .container.pull-center
    %br
    %h2.pull-center Cool right? Help us offer more!
    %p.pull-center
      Donate to the scholarship fund to help provide apprenticeship opportunities like these in partnership with
      %br youth advocacy organizations and programs for at-risk youth.

    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post"}
      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
      %input{:name => "hosted_button_id", :type => "hidden", :value => "8GLHRBAARGK2J"}/
      %input{:alt => "Donate a Scholarship", :border => "0", :name => "submit", :class => "btn btn-large btn-success", :type => "image"}/
      %img{:alt => "Donate a Scholarship", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
    %br
    %br