#accordion2.accordion.form-horizontal.well
  %h3 Apprenticeship FAQ
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1FAQ"}
      What's an apprenticeship?
      %i.fa.fa-chevron-down
  #collapse1FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p In an apprenticeship, a maker works one-on-one with a girl interested in learning the skills of her art. There are a few ways that can look. Some apprenticeships are focused on production, where the apprentice helps the maker produce her work, learning the skills, tools, and process of making by doing them. Other apprenticeships are focused around particular events, such as a gallery show, art auction, or craft fair, where the apprentice helps the maker plan, prepare for, and carry out the event. Still other apprenticeships are simply ongoing opportunities to develop your skills by working alongside and collaborating with the maker. It's about getting real world experience of a maker's work and lifestyle, and building some serious skills in a particular area of making.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse2FAQ"}
      Where does it happen?
      %i.fa.fa-chevron-down
  #collapse2FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p Apprenticeships typically take place in the maker's studio or workspace. Depending on the kind of apprenticeship, it may also involve visiting event venues, fabrication workshops, or other places.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3FAQ"}
      How does it work?
      %i.fa.fa-chevron-down
  #collapse3FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p When a maker is available to take on an apprentice, we list her apprenticeship opportunity on our website. You can apply for the apprenticeship, and when she's reviewed all the applications, the maker chooses the girl who'll be the best fit for the work they'll be doing. We'll let you know her decision, and if you're accepted, we charge you both a $30 matching fee.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse4FAQ"}
      How much does it cost?
      %i.fa.fa-chevron-down
  #collapse4FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p There's a flat fee of $30 for an apprenticeship match. This is only charged after you've been accepted for the apprenticeship and decided you really want to do it.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse5FAQ"}
      How long is it for?
      %i.fa.fa-chevron-down
  #collapse5FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p It depends on the focus of the apprenticeship - some apprenticeships might have a fairly short timeframe of just a few weeks to meet relevant deadlines. Others have a longer lead time or are planned as ongoing over the course of a few months or longer.
  .accordion-heading
    %a.accordion-toggle{:href => "mailto:hello@girlsguild.com?Subject=Hello there"}
      More Questions? Email us
      %i.fa.fa-envelope