<% provide(:title, "Edit user") %> 
<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<h1>Update your profile</h1>
		<div class="row">
		  <div class="span6 fancyform">
		    <%= simple_form_for(@user) do |f| %>
		    <%= render 'fields', f: f %>

		    <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		    <% end %>

		    <%= gravatar_for @user %>
		    <a href="http://gravatar.com/emails">change</a>
		  </div>
		</div>
	</div>
</section>