<% provide(:title, @user.first_name) %>
<%= content_tag :section, :class => "section" do %>
	<%= content_tag :div, :class => "container" do %>
		<div class="row">
		  <aside class="span4">
		    <section>
		      <h1>
		        <%= gravatar_for @user %>
		        <%= @user.first_name %>
		      </h1>
		    </section>
		  </aside>
		</div>
	<% end %>
<% end %>

