= provide(:title, @user.name)
%section.section{id: 'promo'}
	.container
		.row
			%aside.span
				%section
					%h1
						= avatar_for @user
						= @user.name
						%br
						= link_to 'My Portfolio', albums_path