<% provide(:title, @user.first_name) %>
<!-- SmartBiz theme -->
<section class='section' id='promo'>
	<div class='container'>
		<div class="row">
		  <aside class="span4">
		    <section>
		      <h1>
		        <%= gravatar_for @user %>
		        <%= @user.first_name %>
		      </h1>
		    </section>
		  </aside>
		</div>
	</div>
</section>

