- unless paid

  #stripe_error.alert.alert-error{:style => "display:none;"}
    %strong Payment error!
    %span.message

  #stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  = render(partial: 'shared/credit_card_form')

  / = f.hidden_field :stripe_card_token, :id => "stripe_card_token"

- else

  .alert.alert-success
    %strong Awesome!
    %span.message
      We've got your payment info on file. &nbsp;&nbsp;
      = link_to "Update payment info" #fill in here

= f.hidden_field :stripe_card_token, :id => "stripe_card_token"


