- unless paid

  #stripe_error.alert.alert-error{:style => "display:none;"}
    %strong Processing error!
    %span.message

  #stripe_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

  = render(partial: 'shared/credit_card_form')

- else

  .alert.alert-success
    %strong Awesome!
    %span.message
      We've got your billing info on file. &nbsp;&nbsp;
      = link_to "Update my billing info", billing_path, class: 'pull-right'

= f.hidden_field :stripe_card_token, :id => "stripe_card_token"


