<% if form_model.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(form_model.errors.count, "error") %>.
    </div>
    <% form_model.errors.each do |field, msg| %>
      <span class="help-inline" for=<%= field %> generated="true">* <%= msg %></span>
    <% end %>
  </div>
<% end %>