- if current_user && current_user.preregistered?(event)
  - prereg = Prereg.where(user_id: current_user.id, event_id: event.id).first
  =link_to( "You're following".html_safe, prereg, method: 'DELETE', class: 'btn btn-success btn-block btn-following')

- else
  =link_to( "Follow this event #{content_tag(:i, "", class: "icon-eye-open")}".html_safe, preregs_path(event_id: event), method: 'POST', class: 'btn btn-primary btn-block')
