#album_photos.transitions-enabled.clearfix{ data: { update: { url: "#{sort_photos_url}", album: "#{@album.id}" } }}
  = render 'albums/album_photos', featured: true, desc: true, controls: true

/ Edit Album Modal
#editAlbumModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "editAlbumModal", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#newAlbumModelLabel Edit Album
  .modal-body
    = render 'albums/edit'
