- if controls||=false
  %a{ href: '#galleryModal', "data-toggle"=>"modal", class: "box emptyslot" }
    .emptyimg
      %i.icon-picture.icon-4x
- else
  .box.emptyslot
    .emptyimg
      %i.icon-picture.icon-4x