- if controls||=false
  %a{ href: '#galleryModal', "data-toggle"=>"modal", class: "box emptyslot" }
    %img{ src: "#{root_url}/assets/featured1.png"}
- else
  .box.emptyslot
    %img{ src: "#{root_url}/assets/featured1.png"}