- if controls||=false
  %a{ href: '#galleryModal', "data-toggle"=>"modal", class: "box emptyslot" }
    .emptyimg
      %i.fa.fa-picture-o.fa-4x
- else
  .box.emptyslot
    .emptyimg
      %i.fa.fa-picture-o.fa-4x