.container
  %h1 Your Image Collections
  .row-fluid
    #album_section
      - @albums.each do |album|
        .box
          = render 'photos/photo', photo: album.featured_photo, size: :medium, url: url_for(album)
          %p.description= album.title
