- provide(:title, 'Oops')
%section#promo.section.alt.pull-center
  .container
    .hero-unit.hero-huge.hero-404
      %h1 404
      %p
        oops I guess something went wrong!
%section.section
  .container
    .row-fluid
      .span12
        %article
          %header.pull-center
            %h2
              So, whats next?
          %p.pull-center
            head back to the
            %a{:href => "/"} homepage
            and find your way
