- provide(:title, 'Snag')
%section#promo.section.alt.pull-center
  .container
    .hero-unit.hero-huge.hero-404
      %h1 500
      %p
        Woops, something went wrong.
%section.section
  .container
    .row-fluid
      .span12
        %article
          %header.pull-center
            %h2
              Our bad
          %p.pull-center
            head back to the
            %a{:href => "/"} homepage
            and find your way