#accordion2.accordion.form-horizontal.well
  %h3 Listing FAQ

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1FAQ"}
      Why background checks?
      %i.fa.fa-chevron-down
  #collapse1FAQ.accordion-body.collapse
    .accordion-inner
      %p It’s of utmost importance to us that you feel confident joining or hosting workshops and apprenticeships. We exist to build a supportive and collaborative community of makers, and we believe the girls and women who get involved are also inspired by this goal.
      %p
        We pay for a monthly background check service called
        %a{href: "http://www.publicdata.com"}PublicData.com.
        When a maker posts an apprenticeship or workshop, we use their full legal name to search both criminal offenses as well as sexual offenses. If we find a match for any of these serious crimes we won't post the apprenticeship or workshop for this reason. Makers, be assured there will be no point in the process that we share any information we may find on PublicData.com with anyone, nor will this process affect your public records in any way.

