#accordion2.accordion.form-horizontal.well
  %h3 Billing FAQ

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1FAQ"}
      Your Payment is Secure
      %i.fa.fa-chevron-down
  #collapse1FAQ.accordion-body.collapse.in
    .accordion-inner
      %p
        All transactions on GirlsGuild are over a certified secure connection and we use
        %a{ href: "https://stripe.com/us/features#seamless-security" }Stripe
        \- a respected third party service to fulfill payments, refunds, and security.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse2FAQ"}
      How do Applications look?
      %i.fa.fa-chevron-down
  #collapse2FAQ.accordion-body.collapse
    .accordion-inner
      %p We ask 5 general questions to get an idea of personality, interest in working together, and schedule:
      %ol
        %li I'm truly happy when...
        %li I like working together on projects because...
        %li What’s most interesting to me about this apprenticeship is…
        %li Experience with tools and making…
        %li Preferred meeting times…
      %p We then send out an email to followers for first dibs on applying. A day later we send out a newsletter to everyone in the Guild. Usually after that we start receiving applications, which we’ll forward along immediately as they come in for you to review.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3FAQ"}
      Can I interview?
      %i.fa.fa-chevron-down
  #collapse3FAQ.accordion-body.collapse
    .accordion-inner
      %p
        Absolutely - we recommend it! What we'll do is forward you the applications as we receive them and when you see someone you'd like to interview just follow the link to their application and click "Request an Interview". She'll choose a time and date that works for her, and you're all set to meet up. We'll even send you both an interview worksheet for help covering all the right topics.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse4FAQ"}
      How long does it take?
      %i.fa.fa-chevron-down
  #collapse4FAQ.accordion-body.collapse
    .accordion-inner
      %p
        Sometimes if the apprenticeship is a longer or more intensive time commitment it will take longer to fill the apprenticeship. The sweet spot seems to be a 3-month apprenticeship from 5-15 hours per week, which seem to fill in a day or two, but there are so many factors that go into it, that it’s hard to tell. Feel free to email us if you’d like suggestions on how to fill it quickly.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse5FAQ"}
      What if nobody applies?
      %i.fa.fa-chevron-down
  #collapse5FAQ.accordion-body.collapse
    .accordion-inner
      %p You can keep your apprenticehsip posting open as long as you'd like. Sometimes it takes just the right person to find it and apply. We don't guarantee that we'll be able to fill apprenticeships, but we'll do our best to promote the opportunity on our site and on social networks.  We put all new apprenticeships in our newsletter that goes out to the entire guild.  It's always best, though, to help promote it through your own social networks as well!
      %p We don't give refunds for apprenticeship listings, but we are happy to give advice on how to promote the apprenticeship, or on what might be keeping people from pulling the trigger and applying!
