#accordion2.accordion.form-horizontal.well
  %h3 Listing FAQ

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1FAQ"}
      How do these work?
      %i.fa.fa-chevron-down
  #collapse1FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p We've tried to keep our framework for apprenticeships broad, so you can offer an apprenticeship that will truly meet your needs. However, we've found that most apprenticeships fall into three main categories; Production, Event, and Ongoing.
      %h4 Production Apprenticeship:
      %p If you need help producing a big order or a new line of your work, you might consider taking on a girl to help you as a production apprentice.
      %h4 Event Apprenticeship:
      %p If you have an upcoming event you could use a hand with, consider an apprentice to help plan, prepare for, and carry it out.
      %h4 Ongoing Apprenticeship:
      %p Or if you're simply interested in new collaborations and the chance to teach your skills and share your process, an ongoing apprenticeship carries a lot of possibilities.
      %p Once you know what you'd like in an apprentice, you can let us know by proposing an apprenticeship for us to list on our website. We'll collect applications from interested girls for you to review, and you choose the applicant that seems best suited to work with you.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse2FAQ"}
      When?
      %i.fa.fa-chevron-down
  #collapse2FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p When do you want the apprenticeship to start? This will be an approximate start date, based on how you work out a schedule with your apprentice. How long is the apprenticeship? We suggest an initial 1-3 month period to see how it goes. You can always offer to extend it!

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3FAQ"}
      Availability?
      %i.fa.fa-chevron-down
  #collapse3FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p Are you flexible? If so we'll assume that you're willing to work with the apprentice's schedule. If you are not flexible then let us know what days and times you are available.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse4FAQ"}
      Where?
      %i.fa.fa-chevron-down
  #collapse4FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p If it's a 'Residential' address we'll only display a map of the neighborhood, while a 'Commercial' address will be displayed with a map of the exact location.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse5FAQ"}
      Who?
      %i.fa.fa-chevron-down
  #collapse5FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p This is entirely up to you. We suggest a minimum age of 11 because our research has shown a need for fabulous mentors before middle school. If you need someone with a specific skill set or experience you may want to set the age higher and be clear about your needs in the apprenticeship description above.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse6FAQ"}
      How Many?
      %i.fa.fa-chevron-down
  #collapse6FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p We suggest you start with 1-2 apprentice(s) if you're new to teaching or collaborating. You can always post again for another apprentice.

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse7FAQ"}
      Skills and Tools Taught?
      %i.fa.fa-chevron-down
  #collapse7FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p Be as specific as possible so that we can give your apprentice credit for learning new skills & tools and allow her to show them off in her portfolio!

  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse8FAQ"}
      Requirements?
      %i.fa.fa-chevron-down
  #collapse8FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p Will this apprenticeship be doable for someone without certain skills, or are there related skills that would be helpful to have beforehand? Note: We generally do not accept proposals that request someone have the exact skills you're planning to teach so that we can guarantee an equitable trade.
