%section#apprenticeship-info.section.alt.newevent
  .container
    .hero-unit.center
      %h1 ap&bull;pren&bull;tice&bull;ship
      %br
      .span7.offset2
        %b Our Definition:
        More hands-on than a "mentorship", more supportive than an "internship"; apprenticeships are a collaborative way to trade knowledge and skills for help with making.
      %br
      %br

%section.section#FAQ.newevent
  .container
    .row-fluid
      /%hr
      /%h2.center Choose a Type of Apprenticeship
      /.row-fluid
      /  .well.span3
      /    %h3
      /      Production
      /    %p If you need help producing a big order or a new line of your work, you might consider taking on a girl to help you as /a production apprentice.
      /  .well.span3
      /    %h3
      /      Event
      /    %p If you have an upcoming event you could use a hand with, consider an apprentice to help plan, prepare for, and carry /it out.
      /  .well.span3
      /    %h3
      /      Ongoing
      /    %p Or if you're simply interested in new collaborations and the chance to teach your skills and share your process, an /ongoing apprenticeship carries a lot of possibilities.
      /  .well.span3
      /    %h3
      /      1-Day (Workshops)
      /    %p We’ve renamed workshops to 1-Day apprenticeships to focus on the short timeframe and collaborative atmosphere of our workshop setting.



      %h2.center How Apprenticeships Work
      .row-fluid#howitworks
        .span6.maker.center
          %blockquote.blockquote-fancy.blockquote-fancy-small
            .blockquote-img
              %img{:alt => "", :src => "../images/assets/testimonials/maker.png"}/
          %h3.center Posting an Apprenticeship
          %br/
          %ul
            %li
              %h4
                Post
            %li
              %i.fa.fa-caret-right
              =link_to "Choose a type:", faq_path(anchor: "chooseatype")
              production, event, ongoing, or 1-day apprenticeship.
            %li
              %i.fa.fa-caret-right
              Edit the details.
            %li
              %i.fa.fa-caret-right
              Pay a $30.00
              =link_to "listing fee.", faq_path(anchor: "postingfee")
          %ul
            %li
              %h4
                Choose
            %li
              %i.fa.fa-caret-right
              =link_to "Review applications", faq_path(anchor: "applicationslook")
              from your dashboard.
            %li
              %i.fa.fa-caret-right
              Optionally
              =link_to "meet up", faq_path(anchor: "caniinterview")
              to see if it's a good fit.
            %li
              %i.fa.fa-caret-right
              =link_to "Choose", faq_path(anchor: "obligatedtochoose")
              who works best.
          %ul
            %li
              %h4
                Confirm
            %li
              %i.fa.fa-caret-right
              =link_to "Review tips", faq_path(anchor: "tips")
              for having a great apprenticeship.
            %li
              %i.fa.fa-caret-right
              We'll remind you when you're about to start.
            %li
              %i.fa.fa-caret-right
              We'll put you in touch when your apprentice has confirmed.
          %ul
            %li
              %h4
                Support
                /.badge.badge-inverse Coming Soon!
            %li
              %i.fa.fa-caret-right
              The GirlsGuild team is here to help you along the way.
            %li
              %i.fa.fa-caret-right
              We'll send occasional feedback prompts.
            %li
              %i.fa.fa-caret-right
              We help
              =link_to "track the skills and tools", faq_path(anchor: "whatwetrack")
              you're teaching.


        .span6.girl.center
          %blockquote.blockquote-fancy.blockquote-fancy-small
            .blockquote-img
              %img{:alt => "", :src => "../images/assets/testimonials/apprentice.png"}/
          %h3.center Joining an Apprenticeship
          %br/
          %ul
            %li
              %h4
                Apply
            %li
              %i.fa.fa-caret-right
              =link_to "Answer 4 questions", faq_path(anchor: "applicationslook")
              about why you're interested.
            %li
              %i.fa.fa-caret-right
              It's always free to apply & you'll
              =link_to "hear back", faq_path(anchor: "myapplication")
              within 2 weeks.
            %li
              %i.fa.fa-caret-right
              Or, sign up for a
              =link_to "workshop", faq_path(anchor: "how1dayswork")
              (1-Day apprenticeship).
          %ul
            %li
              %h4
                Confirm
            %li
              %i.fa.fa-caret-right
              Possibly meet up to see if it's a good fit.
            %li
              %i.fa.fa-caret-right
              Pay a
              =link_to "$30.00 matching fee", faq_path(anchor: "howmuchtoapply")
              to confirm.
            %li
              %i.fa.fa-caret-right
              Do a little dance!
          %ul
            %li
              %h4
                Track
            %li
              %i.fa.fa-caret-right
              We'll help
              =link_to "track the skills and tools", faq_path(anchor: "whatwetrack")
              you're learning.
            %li
              %i.fa.fa-caret-right
              We'll send occasional feedback emails.
            %li
              %i.fa.fa-caret-right
              We're here to help with anything along the way!
          %ul
            %li
              %h4
                Progress
                .badge.badge-inverse Coming Soon!
            %li
              %i.fa.fa-caret-right
              We'll build out
              =link_to "a portfolio", faq_path(anchor: "whatportfolio")
              that shows off your skills.
            %li
              %i.fa.fa-caret-right
              Makers will search portfolios and find <i>you</i>!
            %li
              %i.fa.fa-caret-right
              Use it to apply for schools or a job.


%section.section#darkspan
  .container
    .row-fluid
      .span6
        #buttons.center
          = link_to "Post an Apprenticeship", { controller: :apprenticeships, action: :create } , {method: :post, style: 'button', class: 'btn btn-large btn-success' }
      .span6
        #buttons.center
          = link_to "Browse Apprenticeships", events_path, {style: 'button', class: 'btn btn-large btn-primary' }

%section.section#FAQ.newevent
  .container
    .row-fluid
      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/MChapman.jpeg"}/
                %p "Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Melissa Chapman, Stone & Smith
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/AGieselman.jpeg"}/
                %p "I taught class to a group of young woman who learned new skills that they may not have had access to before.  These skills are not only fun and cool but also empowering."
                %footer.pull-right
                  %a{:href => "/testimonials"} - Anna Gieselman, Bee Amour
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Melissa-Chapman
            %li.tab
              %a{:href => "#t2"} Anna-Gieselman

      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/SSimmons.jpeg"}/
                %p "I put my apprenticeship with GirlsGuild on my resume, and it was actually a conversation piece in my job interviews."
                %br
                %footer.pull-right
                  %a{:href => "/testimonials"} - Samantha Simmons, Event Apprentice
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/CValentine.jpeg"}/
                %p "Thanks for the opportunity to join Son of a Sailor! I started the apprenticeship today and already made 10 necklaces, how great, right? Jessica is a dream to work with!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Christina Valentine, Production Apprentice
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Samantha-Simmons
            %li.tab
              %a{:href => "#t2"} Christina-Valentine


    %hr
    %br
    %br

    %h2.center How to Have a Great Apprenticeship
    %br
    .row-fluid
      .well.span3
        %h3
          Challenge
        The apprentice should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
      .well.span3
        %h3
          World View
        Think about giving the apprentice a feel for what its like to run a small business, OR why you choose not to.
      .well.span3
        %h3
          Feedback
        Remember to give gentle but constructive feedback. Help her learn from her mistakes which is often the best way to gain experience.
      .well.span3
        %h3
          Encouragement
        Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn together.



    /%hr
    /%h2.center A Safe Community
    /%ul
    /  %li We do background checks on all of our Makers
    /  %li We'll provide you with Waivers & Indemnification agreements for minors
    /  %li You have the option to meet up first to get a feel for personality before accepting an apprentice
    /  %li GirlsGuild is always happy to facilitate the first meeting at our headquarters!


    %br
    %ul.icons
      %li
        %i.fa.fa-bookmark
        For more info check out the
        = link_to "FAQ", faq_path
      %li
        %i.fa.fa-envelope
        Email us with any questions
        %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
          hello@girlsguild.com
    %br
    %br
