%section#apprenticeship-info.section.alt.newevent
  .container
    .hero-unit.center.hero-howitworks
      %h1 How Apprenticeships Work
      %br
      .span9.offset1
        %b Our Definition:
        %i &nbsp; More hands-on than a "mentorship", more supportive than an "internship"; apprenticeships are a collaborative way to trade knowledge and skills for help with making.
      %br
      %br
      #buttons.center
        %br
        = link_to "Post an Apprenticeship", { controller: :apprenticeships, action: :create } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }


%section.section#FAQ.newevent
  .container
    .row-fluid#howitworks
      .span6.maker.center
        %blockquote.blockquote-fancy.blockquote-fancy-small
          .blockquote-img
            %img{:alt => "", :src => "../images/assets/testimonials/NDavis.jpeg"}/
        %h3.center Posting an Apprenticeship
        %ul
          %li
            %h4
              Post
          %li
            %i.fa.fa-caret-right
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'Choose a type:', faq_path(anchor: "chooseatype"), target: "_blank" )
            production, event, ongoing, or 1-day apprenticeship.
          %li
            %i.fa.fa-caret-right
            Edit the details.
          %li
            %i.fa.fa-caret-right
            Pay a $30.00
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'listing fee.', faq_path(anchor: "postingfee"), target: "_blank" )
        %ul
          %li
            %h4
              Choose
          %li
            %i.fa.fa-caret-right
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'Review applications', faq_path(anchor: "applicationslook"), target: "_blank" )
            from your dashboard.
          %li
            %i.fa.fa-caret-right
            Optionally
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'meet up', faq_path(anchor: "caniinterview"), target: "_blank" )
            to see if it's a good fit.
          %li
            %i.fa.fa-caret-right
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'Choose', faq_path(anchor: "obligatedtochoose"), target: "_blank" )
            who works best.
        %ul
          %li
            %h4
              Confirm
          %li
            %i.fa.fa-caret-right
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'Review tips', faq_path(anchor: "tips"), target: "_blank" )
            for having a great apprenticeship.
          %li
            %i.fa.fa-caret-right
            We'll remind you when you're about to start.
          %li
            %i.fa.fa-caret-right
            We'll put you in touch when your apprentice has confirmed.
        %ul
          %li
            %h4
              Support
              /.badge.badge-inverse Coming Soon!
          %li
            %i.fa.fa-caret-right
            The GirlsGuild team is here to help you along the way.
          %li
            %i.fa.fa-caret-right
            We'll send occasional feedback prompts.
          %li
            %i.fa.fa-caret-right
            We help
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'track the skills and tools', faq_path(anchor: "whatwetrack"), target: "_blank" )
            you're teaching.


      .span6.girl.center
        %blockquote.blockquote-fancy.blockquote-fancy-small
          .blockquote-img
            %img{:alt => "", :src => "../images/assets/testimonials/Helen.jpeg"}/
        %h3.center Becoming an Apprentice
        %ul
          %li
            %h4
              Apply
          %li
            %i.fa.fa-caret-right
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ 'Answer 4 questions', faq_path(anchor: "applicationslook"), target: "_blank" )
            about why you're interested.
          %li
            %i.fa.fa-caret-right
            It's always free to apply & you'll
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ "hear back", faq_path(anchor: "myapplication"), target: "_blank" )
            within 2 weeks.
          %li
            %i.fa.fa-caret-right
            Or, sign up for a
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ "workshop", faq_path(anchor: "how1dayswork"), target: "_blank" )
            (1-Day apprenticeship).
        %ul
          %li
            %h4
              Confirm
          %li
            %i.fa.fa-caret-right
            Possibly meet up to see if it's a good fit.
          %li
            %i.fa.fa-caret-right
            Pay a
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ "$30.00 matching fee", faq_path(anchor: "howmuchtoapply"), target: "_blank" )
            to confirm.
          %li
            %i.fa.fa-caret-right
            Do a little dance!
        %ul
          %li
            %h4
              Track
          %li
            %i.fa.fa-caret-right
            We'll help
            =link_to( content_tag(:i, '', class: 'fa fa-external-link fa-fw')+ "track the skills and tools", faq_path(anchor: "whatwetrack"), target: "_blank" )
            you're learning.
          %li
            %i.fa.fa-caret-right
            We'll send occasional feedback emails.
          %li
            %i.fa.fa-caret-right
            We're here to help with anything along the way!
        %ul
          %li
            %h4
              Progress
              .badge.badge-inverse Coming Soon!
          %li
            %i.fa.fa-caret-right
            We'll build out
            =link_to( ("a portfolio" + content_tag(:i, '', class: 'fa fa-external-link fa-fw')).html_safe, faq_path(anchor: "whatportfolio"), target: "_blank" )
            that shows off your skills.
          %li
            %i.fa.fa-caret-right
            Makers will search portfolios and find <i>you</i>!
          %li
            %i.fa.fa-caret-right
            Use it to apply for schools or a job.


%section.section#darkspan
  .container
    .row-fluid
      .span6
        #buttons.center
          = link_to "Post an Apprenticeship", { controller: :apprenticeships, action: :create } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }
      .span6
        #buttons.center
          = link_to "Browse Apprenticeships", events_path, {style: 'button', class: 'btn btn-large btn-primary' }

%section.section.alt#FAQ
  .container
    %br
    %h2
      What to expect
      %small / &nbsp; Here's how to structure an equitable exchange...
      %hr
    .row-fluid
      .span6
        %h3
          As a Maker
          %small.kristi
        %ul.checklist
          %li
            %b Hours:
            We suggest you schedule an average of 16 hours/week to get your apprentice up to speed quickly. It's best if you decide on a consistent schedule at the start, and stick to it.
          %br
          %li
            %b Timeframe:
            We suggest you divide the timeframe up into 4 equal parts. You'll spend the first part teaching, the second part practicing, and the last two parts instructing when needed while working together.
          %br
          %li
            %b Instruction:
            We ask that you work in the same location for at least 50% of the time you've scheduled for the apprenticeship in order to allow for questions and feedback to happen naturally.
          %br
          %li
            %b Skills:
            You should be teaching the skills and tools that are required for the kind of work that you need help with. It's ok to require some pre-existing skills related to the work - but count on teaching the main skills.
          %br
          %li
            %b Feedback:
            You'll need to give feedback on how the apprentice is doing as she learns, allowing her to ask questions, make mistakes and practice. We're happy to help facilitate a mid-way check in to chat about goals and progress.
      .span6
        %h3
          As an Apprentice
          %small.kristi
        %ul.checklist
          %li
            %b Hours:
            Be honest about your availability. Once you decide on a set schedule, make sure it's on your calendar. You should always give your maker-mentor at least 24 hours notice for cancellations.
          %br
          %li
            %b Timeframe:
            We suggest the timeframe be divided into 4 equal parts. You'll spend the first part learning, the second part practicing, and the last two parts asking for feedback when needed and working together.
          %br
          %li
            %b Instruction:
            We ask that you work in the same location for at least 50% of the time you've scheduled for the apprenticeship in order to allow for questions and feedback to happen naturally.
          %br
          %li
            %b Skills:
            You should be learning the skills and tools that are required for the kind of work that you're helping with. You may be required to have some pre-existing skills related to the work, but you'll be learning the main skills.
          %br
          %li
            %b Feedback:
            Practice asking for feedback on how you're doing as you learn. It's ok to ask lots of questions, make mistakes and practice! We're happy to help facilitate a mid-way check in to chat about goals and progress, or if any issues arise.
    %br



%section.section#FAQ.newevent#darkspan
  .container
    .row-fluid
      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/MChapman.jpeg"}/
                %p "Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Melissa Chapman, Stone & Smith
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/AGieselman.jpeg"}/
                %p "I taught class to a group of young woman who learned new skills that they may not have had access to before.  These skills are not only fun and cool but also empowering."
                %footer.pull-right
                  %a{:href => "/testimonials"} - Anna Gieselman, Bee Amour
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Melissa-Chapman
            %li.tab
              %a{:href => "#t2"} Anna-Gieselman

      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/SSimmons.jpeg"}/
                %p "I put my apprenticeship with GirlsGuild on my resume, and it was actually a conversation piece in my job interviews."
                %br
                %footer.pull-right
                  %a{:href => "/testimonials"} - Samantha Simmons, Event Apprentice
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/CValentine.jpeg"}/
                %p "Thanks for the opportunity to join Son of a Sailor! I started the apprenticeship today and already made 10 necklaces, how great, right? Jessica is a dream to work with!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Christina Valentine, Production Apprentice
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Samantha-Simmons
            %li.tab
              %a{:href => "#t2"} Christina-Valentine


%section.section#FAQ
  .container
    .row-fluid
      .span12
        %br
        %h2
          Why it Works
          %small / &nbsp; GirlsGuild was built for real people, to solve real problems.
        %hr
        .row-fluid
          %p
            We think the most important part of our service is the support and facilitation we provide around structuring an equitable trade of teaching for work, and the reason it’s important comes from research.

          %p
            The concept for GirlsGuild originally came from research into eating disorders among young women, and the process of recovery. We interviewed women in recovery and professionals in the field, and learned two major insights:

          %ul
            %li A key part of recovery is finding creative outlets and building skills around them
            %li It’s important in recovery to rebuild supportive social connections and community

          %p
            We took those ideas of building skills in creative fields, and creating supportive social connections, and brought them together under the apprenticeship model of working and learning in hands-on, one-to-one mentorship relationships.
          %p
            In the two years we’ve been building on that concept, we’ve kept those insights as the foundation of the GirlsGuild service, for the benefit of <i>all</i> girls and women.
          %br


/%section.section.alt#FAQ
/  .container
/    %br
/    %h2
/      Is this for me?
/      %small / &nbsp; Here are a few personalities that get a lot out of GirlsGuild...
/    %hr
/    .row-fluid
/      .span6
/        %h4 The Entrepreneur
/        %p You’re busy building a business that’s growing and need some help but aren’t quite ready to hire.  We’re here to help you learn a lot about /leadership by training someone in the skills and tools of your arsenal.
/
/        %h4 The Collaborator
/        %p You like bouncing ideas off other people because the process helps your creative thinking. You find that having another person around really helps /you get more done, and you’d be happy to bring someone in on your projects for their help.
/
/        %h4 The Teacher
/        %p You really love teaching the skills and tools that will help someone get closer to their goals. You appreciate how important it is to pass on /skills, and get excited thinking about empowering someone who’s inspired by your work as they gain real-world experience working with you.
/
/        %h4 The Mentor
/        %p You need to get a lot done but you also enjoy chatting while you work. Conversations just tend to happen organically about how you ended up doing /what you do, the struggles and accomplishments you’ve had, and some of the more personal aspects of doing your kind of work.
/
/      .span6
/        %h4 Play
/        %p
/
/        %h4 Passion
/        %p
/
/        %h4 Purpose
/        %p
/
/    %br
/    %hr
/    %br

%section.section.alt#FAQ.newevent
  .container
    .row-fluid
      .span6
        %br
        %h2 Still not sure if you're ready?
        %p
          We've put together a
          %a{href: "../handbook/ReadyforanApprentice.pdf"} checklist
          to help you decide if you're ready to host an apprenticeship.
        %p
          Or maybe you know someone who would be a wonderful Maker-mentor?  Let us know and we'll ask them how we can help!
        /%h2 How to Have a Great Apprenticeship
        /%br
        /.row-fluid
        /  .well.span3
        /    %h3
        /      Challenge
        /    The apprentice should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
        /  .well.span3
        /    %h3
        /      World View
        /    Think about giving the apprentice a feel for what its like to run a small business, OR why you choose not to.
        /  .well.span3
        /    %h3
        /      Feedback
        /    Remember to give gentle but constructive feedback. Help her learn from her mistakes which is often the best way to gain experience.
        /  .well.span3
        /    %h3
        /      Encouragement
        /    Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn together.



        /%hr
        /%h2.center A Safe Community
        /%ul
        /  %li We do background checks on all of our Makers
        /  %li We'll provide you with Waivers & Indemnification agreements for minors
        /  %li You have the option to meet up first to get a feel for personality before accepting an apprentice
        /  %li GirlsGuild is always happy to facilitate the first meeting at our headquarters!


        %br
        %ul.icons
          %li
            %i.fa.fa-bookmark
            For more info check out the
            = link_to "FAQ", faq_path
          %li
            %i.fa.fa-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com
        %br
        %br

      .span6
        .well
          %h3
            Nominate a Maker!
          %p.center Know someone who would be a fantastic Maker-mentor?

          / Begin MailChimp Signup Form
          %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}
            :css
              #mc_embed_signup{clear:left; font:14px Helvetica,Arial,sans-serif; }
              /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                 We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            #mc_embed_signup
              %form#mc-embedded-subscribe-form.validate{:action => "//girlsguild.us4.list-manage.com/subscribe/post?u=9f2de43ebd5f4d79e3d803fb9&amp;id=3353a0e544", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
                #mc_embed_signup_scroll
                  .indicates-required
                    %span.asterisk{:style => "top:10px"} *
                    indicates required
                  .mc-field-group
                    %label{:for => "mce-FNAME"}
                      Maker's First Name
                      %span.asterisk{:style => "top:10px"} *
                    %input#mce-FNAME.required{:name => "FNAME", :type => "text", :value => ""}
                  .mc-field-group
                    %label{:for => "mce-LNAME"}
                      Maker's Last Name
                      %span.asterisk{:style => "top:10px"} *
                    %input#mce-LNAME.required{:name => "LNAME", :type => "text", :value => ""}
                  .mc-field-group
                    %label{:for => "mce-EMAIL"}
                      Maker's Email Address
                      %span.asterisk{:style => "top:10px"} *
                    %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => ""}
                  .mc-field-group
                    %label{:for => "mce-MMERGE3"} Your Name (if different)
                    %input#mce-MMERGE3{:name => "MMERGE3", :type => "text", :value => ""}
                  #mce-responses.clear
                    #mce-error-response.response{:style => "display:none"}
                    #mce-success-response.response{:style => "display:none"}
                  / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  %div{:style => "position: absolute; left: -5000px;"}
                    %input{:name => "b_9f2de43ebd5f4d79e3d803fb9_3353a0e544", :tabindex => "-1", :type => "text", :value => ""}/
                  .clear
                    %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Submit"}/
            / End mc_embed_signup

