<% provide(:title, 'New Apprenticeship') %>
<h1>Create a New Apprenticeship</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@apprenticeship) do |f| %>
    <%= render 'fields', f: f %>
      <%= f.submit "Save for Later", :name => 'save_button', :class => "btn btn-large" %>
      <%= f.submit "Create Apprenticeship", :name => 'create_button', :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>