%section#apprenticeship-info.section.alt.newevent
  .container
    .hero-unit.center
      %h1 ap&bull;pren&bull;tice&bull;ship
      %br
      .span7.offset2
        %b Our Definition:
        More hands-on than a "mentorship", more supportive than an "internship"; apprenticeships are a collaborative way to trade knowledge and skills for help with making.
      %br
      %br

%section.section#FAQ.newevent
  .container
    .row-fluid
      /%hr
      /%h2.center Choose a Type of Apprenticeship
      /.row-fluid
      /  .well.span3
      /    %h3
      /      Production
      /    %p If you need help producing a big order or a new line of your work, you might consider taking on a girl to help you as /a production apprentice.
      /  .well.span3
      /    %h3
      /      Event
      /    %p If you have an upcoming event you could use a hand with, consider an apprentice to help plan, prepare for, and carry /it out.
      /  .well.span3
      /    %h3
      /      Ongoing
      /    %p Or if you're simply interested in new collaborations and the chance to teach your skills and share your process, an /ongoing apprenticeship carries a lot of possibilities.
      /  .well.span3
      /    %h3
      /      1-Day (Workshops)
      /    %p We’ve renamed workshops to 1-Day apprenticeships to focus on the short timeframe and collaborative atmosphere of our workshop setting.



      /.row-fluid
      /  .well.span3
      /    %h3
      /      %i.icon-magic.inline
      /      Create it
      /    %p It can be <a href="/faq_makers">event-based</a>, <a href="/faq_makers">production-based</a>, or <a href="/faq_makers">/ongoing</a>. We charge you a $9 listing fee, and the apprentice pays a $29 connection fee.
      /  .well.span3
      /    %h3
      /      %i.icon-check.inline
      /      We Review
      /    %p
      /      We'll review your listing once you've submitted it. We also do <a href="/faq_makers">background checks</a>
      /      %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"For our background checks we use your /full name to run a check against a national database of criminal records. This does not require your SSN, and does not /reveal your past employment or credit history."} }
      /        %i.icon-question-sign.small-iconon
      /      on all our Makers to keep our community safe.
      /  .well.span3
      /    %h3
      /      %i.icon-heart-empty.inline
      /      You Choose
      /    %p
      /      We promote it to the GirlsGuild community, collect <a href="/faq_makers">applications</a>
      /      %a{ href: "javascript:;", rel: 'popover', data: {placement: "right", content:"The applicant submits their answers to /four questions geared to give you a sense of who they are and how they approach work and collaboration. You can follow /up on applications to request an interview, too!"} }
      /        %i.icon-question-sign.small-iconon
      /      for you to choose from, and connect you with a fabulous apprentice.
      /  .well.span3
      /    %h3
      /      %i.icon-trophy.inline
      /      We Track
      /    %p
      /      We'll keep track of the skills and tools you and your apprentice are learning, to build out your incredible portfolios (/coming soon!).


      %h2.center How Apprenticeships Work
      .row-fluid#howitworks
        .span6.maker.center
          %blockquote.blockquote-fancy.blockquote-fancy-small
            .blockquote-img
              %img{:alt => "", :src => "../images/assets/testimonials/maker.png"}/
          %h3.center Posting an Apprenticeship
          %br/
          %ul
            %li
              %h4
                Post
                /%i.icon-bullhorn.center
            %li
              %i.icon-caret-right
              Choose a type: Production, Event, Ongoing, or 1-Day.
            %li
              %i.icon-caret-right
              Edit the details.
            %li
              %i.icon-caret-right
              Pay a $9.00 listing fee.
          %ul
            %li
              %h4
                Choose
                /%i.icon-bullseye.center
            %li
              %i.icon-caret-right
              Review applications from your dashboard.
            %li
              %i.icon-caret-right
              Optionally meet up to see if it's a good fit.
            %li
              %i.icon-caret-right
              Choose who works best.
          %ul
            %li
              %h4
                Confirm
                /%i.icon-ok-sign.center
            %li
              %i.icon-caret-right
              Review tips for having a great apprenticeship.
            %li
              %i.icon-caret-right
              We'll remind you when you're about to start.
            %li
              %i.icon-caret-right
              We'll put you in touch when your apprentice has confirmed.
          %ul
            %li
              %h4
                Support
                .badge.badge-inverse Coming Soon!
                /%i.icon-thumbs-up-alt.center
            %li
              %i.icon-caret-right
              The GirlsGuild team is here to help you along the way.
            %li
              %i.icon-caret-right
              We'll send occasional feedback prompts.
            %li
              %i.icon-caret-right
              We track the skills and tools you're teaching.

        .span6.girl.center
          %blockquote.blockquote-fancy.blockquote-fancy-small
            .blockquote-img
              %img{:alt => "", :src => "../images/assets/testimonials/apprentice.png"}/
          %h3.center Joining an Apprenticeship
          %br/
          %ul
            %li
              %h4
                Apply
                /%i.icon-pencil.center
            %li
              %i.icon-caret-right
              Answer 4 questions about why you're interested.
            %li
              %i.icon-caret-right
              It's always free to apply & you'll hear back within 2 weeks.
            %li
              %i.icon-caret-right
              Or, sign up for a 1-Day apprenticeship.
          %ul
            %li
              %h4
                Confirm
                /%i.icon-ok-sign.center
            %li
              %i.icon-caret-right
              Possibly meet up to see if it's a good fit.
            %li
              %i.icon-caret-right
              Pay a $29.00 matching fee to confirm.
            %li
              %i.icon-caret-right
              Do a little dance!
          %ul
            %li
              %h4
                Track
                /%i.icon-bar-chart.center
            %li
              %i.icon-caret-right
              We'll track the skills and tools you're learning.
            %li
              %i.icon-caret-right
              We'll send occasional feedback emails.
            %li
              %i.icon-caret-right
              We're here to help with anything along the way!
          %ul
            %li
              %h4
                Progress
                .badge.badge-inverse Coming Soon!
                /%i.icon-rocket.center
            %li
              %i.icon-caret-right
              We'll build out a portfolio that shows off your skills.
            %li
              %i.icon-caret-right
              Makers will search portfolios and find <i>you</i>!
            %li
              %i.icon-caret-right
              Use it to apply for schools or a job.

        .scroll-ball
          %img{src: "images/common/scroll/ball.png"}


%section.section#darkspan
  .container
    #buttons.center
      = link_to "Start Building an Apprenticeship!", { controller: :apprenticeships, action: :create } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }


%section.section#FAQ.newevent
  .container

    .row-fluid
      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/MChapman.jpeg"}/
                %p "Veronica brought up the fact that the apprenticeship was originally set to end in December, and at the same time she and I looked at each other and said "yeah, right. I'm not letting you go!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Melissa Chapman, Stone & Smith
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/AGieselman.jpeg"}/
                %p "I taught class to a group of young woman who learned new skills that they may not have had access to before.  These skills are not only fun and cool but also empowering."
                %footer.pull-right
                  %a{:href => "/testimonials"} - Anna Gieselman, Bee Amour
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Melissa-Chapman
            %li.tab
              %a{:href => "#t2"} Anna-Gieselman

      .span6.testimonials
        .rotating-testimonials
          / "rotating-testimonials" is a required class - set the speed in application.js
          .panels
            #t1
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/SSimmons.jpeg"}/
                %p "I put my apprenticeship with GirlsGuild on my resume, and it was actually a conversation piece in my job interviews."
                %br
                %footer.pull-right
                  %a{:href => "/testimonials"} - Samantha Simmons, Event Apprentice
            #t2
              %blockquote.blockquote-fancy.blockquote-fancy-small
                .blockquote-img
                  %img{:alt => "", :src => "../images/assets/testimonials/CValentine.jpeg"}/
                %p "Thanks for the opportunity to join Son of a Sailor! I started the apprenticeship today and already made 10 necklaces, how great, right? Jessica is a dream to work with!"
                %footer.pull-right
                  %a{:href => "/testimonials"} - Christina Valentine, Production Apprentice
          %ul.tabs
            %li.tab
              %a{:href => "#t1"} Samantha-Simmons
            %li.tab
              %a{:href => "#t2"} Christina-Valentine


    %hr
    %br
    %br

    %h2.center How to Have a Great Apprenticeship
    %br
    .row-fluid
      .well.span3
        %h3
          Challenge
        The apprentice should be learning new things frequently enough to stay challenged, but don't forget to have them also practice what they're learning.
      .well.span3
        %h3
          World View
        Think about giving the apprentice a feel for what its like to run a small business, OR why you choose not to.
      .well.span3
        %h3
          Feedback
        Remember to give gentle but constructive feedback. Help her learn from her mistakes which is often the best way to gain experience.
      .well.span3
        %h3
          Encouragement
        Get to know each others goals and dreams! We want to help you build a mentor network because we're all stronger when we learn together.



    /%hr
    /%h2.center A Safe Community
    /%ul
    /  %li We do background checks on all of our Makers
    /  %li We'll provide you with Waivers & Indemnification agreements for minors
    /  %li You have the option to meet up first to get a feel for personality before accepting an apprentice
    /  %li GirlsGuild is always happy to facilitate the first meeting at our headquarters!


    %br
    %ul.icons
      %li
        %i.icon-bookmark
        For more info check out the
        = link_to "FAQ", faq_makers_path
      %li
        %i.icon-envelope
        Email us with any questions
        %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
          hello@girlsguild.com
    %br
    %br
