%section#apprenticeship-info.section.alt-grey.newevent
  .container
    .row-fluid
      .hero-unit.well
        %h1 Apprenticeships
        %br
        %h2 Woohoo! Here's how it works...
        .row-fluid
          .well.span3
            %h3
              %i.icon-magic.inline
              Create it
            %p It can be <a href="/get_involved_makers">event-based</a>, <a href="/get_involved_makers">production-based</a>, or <a href="/get_involved_makers">ongoing</a>. We charge you a $9 listing fee, and the apprentice a $29 connection fee.
          .well.span3
            %h3
              %i.icon-check.inline
              We Review
            %p
              We'll review your listing once you've submitted it. We also do background checks on all our Makers to keep our community safe.
          .well.span3
            %h3
              %i.icon-heart-empty.inline
              You Choose
            %p
              We promote it to the GirlsGuild community, collect applications for you to choose from, and connect you with a fabulous apprentice.
          .well.span3
            %h3
              %i.icon-trophy.inline
              We Track
            %p
              We'll keep track of the skills, tools, and techniques you and your apprentice are learning to begin to build out your incredible portfolios.

        %br
        #buttons
          = link_to "Let's start one!", { controller: :apprenticeships, action: :create, save_button: 'Save for Later' } , {method: :post, style: 'button', class: 'btn btn-large btn-primary' }

        %br
        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            = link_to "FAQ", faq_makers_path
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com
