%section#private-info.section
  .container
    .row-fluid
      %h1
        %icon.icon-check
        Awesome!
      .span12
        %p We'll review your apprenticeship proposal and let you know as soon as it's been posted live!
        .alert.alert-warning
          %strong
            Note:
          You will not be able to edit your apprenticeship until we've had a chance to approve it. Then any edits will need to be re-approved.

        %h2 Keep this receipt for your records

        %br
        .fancyform-light.form-horizontal
          Thanks for paying the $9.00 apprenticeship listing fee!
        %br

        %ul.icons
          %li
            %i.icon-bookmark
            For more info check out the
            %a{href: "/faq"}
              FAQ
          %li
            %i.icon-envelope
            Email us with any questions
            %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
              hello@girlsguild.com