- provide(:title, 'Thanks!')
%section#confirmed.section.alt-grey
  .container
    .row-fluid

      %h1
        %i.fa.fa-check
        Awesome!
      .row-fluid
        .span8
          .fancyform-light.form-horizontal
            %p
              Thanks for submitting your listing -
              = link_to @apprenticeship.title, apprenticeship_path(@apprenticeship), target: "_blank"
              - if @apprenticeship.coupon?
                with offer code:
                %b
                  = @apprenticeship.coupon
            %p
              We'll review it and let you know as soon as it's live!
              %br

            .alert.alert-warning
              %strong
                Note:
              You can edit the details of your apprenticeship any time, but if you edit something important
              %a{:href => contact_path, target: "_blank"}
                email us
                %i.fa.fa-external-link,
              because we may have already written a newsletter.

            You can check on the status of your event any time by visiting your:
            .btn.btn-success.btn-large
              #{link_to "Events Dashboard", dashboard_path}
            %br
            %br

            %h2 What to expect
            %ol
              %li
                As soon as someone applies we'll forward you the application.
              %li
                You'll have two weeks to decide whether to accept or decline each apprentice.
              %li
                You can schedule an interview first to determine whether you'll be a good fit.
              %li
                The post will be closed when you've accepted #{@apprenticeship.registration_max} apprentices.


        .span4
          %br
          %br
          %ul.icons
            %li
              %i.fa.fa-bookmark
              For more info check out the
              %a{href: "/faq", target: "_blank"}
                FAQ
            %li
              %i.fa.fa-envelope
              Email us with any questions
              %a{href: "mailto:hello@girlsguild.com?Subject=Howdy"}
                hello@girlsguild.com


      .span12
        %br
        %h2 Tips for a great apprenticeship
        .row-fluid
          .well.span3
            %h3
              %i.fa.fa-fire.inline
              Challenge
            The apprentice should be learning new things frequently enough to stay challenged, but don't forget to also have them practice what they're learning.
          .well.span3
            %h3
              %i.fa.fa-globe.inline
              World View
            Think about giving the apprentice a feel for what it's like to run a small business, OR why you choose not to.
            %br
            %br
          .well.span3
            %h3
              %i.fa.fa-refresh.inline
              Feedback
            Remember to give gentle but constructive feedback. Help her learn from her mistakes, which is often the best way to gain experience.
          .well.span3
            %h3
              %i.fa.fa-thumbs-up.inline
              Encourage
            Get to know each other's goals and dreams! We want to help you build a mentor network, because we're all stronger when we learn togeather.
