%section.section
  .container
    .row
      .span6.offset3
        .well
          = image_tag @photo.file
          %p
            = @photo.caption

          = link_to "Back", return_store_location || url_for(:back), :class => 'btn'
          = link_to "Edit", edit_photo_path(@photo), :class => 'btn'
