- if params[:controller] == 'albums'
  = link_to(content_tag(:i,'', :class=>"fa fa-picture-o")+' Add Images', '#galleryModal', "data-toggle"=>"modal", id: "my_images_link", :class=>"large pull-right")


/ My Images Modal
#galleryModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "galleryModal", :role => "dialog", :tabindex => "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
    %h3#galleryModalLabel My Image Gallery
    %br
    %p 1. Upload as many images as you wish - we'll store them all in your gallery.
    %p 2. Then choose 5 images to add to this event.
  .modal-body
    #photos.transitions-enabled.clearfix
      = render 'galleries/gallery_photos'

  :erb
    <script id="template-upload" type="text/x-tmpl">
    <div id="" class="upload box_photo box-small masonry-brick" style="width:135px; height:180px;">
      <div class="progress progress-info progress-striped active" style="height:135px; width:135px; margin-bottom:0px">
        <div class="bar" style="width:0px;max-width:135px;"></div>
      </div>
    </div>
    </script>