// Variables
$plum: #923052
$plum-shadow: #673c58
$plum-black: #3d1121

$tangerine-light: #ffe6c5
$tangerine-medium: #f9a83d
$tangerine: #f99716
$tangerine-shadow: #e0800e
$tangerine-black: #5e3202

$salmon-light: #fcbfb6
$salmon-medium: #fc7859
$salmon: #fd5a3f
$salmon-shadow: #ed503b
$salmon-black: #411110

$coral-light: #fcb1b1
$coral-medium: #fc7070
$coral: #fc4240
$coral-shadow: #e02d2d

$ocean-light: #87c7fd
$ocean-medium: #59a8eb
$ocean: #4193d8
$ocean-shadow: #2f6a9c
$ocean-black: #133552

$niceblue: #41B7D8


$grass-slight: #F9FEEE
$grass-light: #e8f7c9
$grass-medium: #a9db3b
$grass: #7dbc0f
$grass-shadow: #70a005
$grass-black: #3f5601

$mint-light: #e7f5f0

$star-bright: #f8fbfc
$star-light: #eff6f8
$star-medium: #e4edef
$star: #d8e3e5
$star-shadow: #c5dadd

$silver-bright: #f7f7f7
$silver-light: #efefef
$silver-medium: #e0e0e0
$silver: #cecece
$silver-shadow: #b5b5b5
$silver-dark: #939393
$silver-black: #707070

$grey-black: #343434

$alert-yellow: #FCF8E3
$alert-red: #F2DEDE
$alert-green: #DFF0D8
$alert-blue: #D9EDF7

$opensans: 'Open Sans'
$kristi: 'Kristi'
$dosis: 'Dosis'
$radius: 5px



// Mixins
@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

@mixin box-shadow($top, $left, $blur, $color, $inset:"")
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}
@mixin box-shadow-silver
  +box-shadow(1px, 1px, 3px, $silver-shadow)
.box-shadow-silver
  +box-shadow-silver

@mixin roundcorners($radius: 5px)
  -moz-border-radius: $radius // firefox
  -webkit-border-radius: $radius // safari/chrome
  border-radius: $radius // CSS3, works in IE9
.rounded
  +roundcorners(5px)

@mixin dosis-caps
  font-family: 'Dosis'
  text-transform: uppercase
  font-weight: 500

@mixin textshadow-light
  text-shadow: 1px 1px #FFF

// Layout
.alt-grey
  background-color: #EFEFEF
  .nav
    background-color: #FFF
    overflow: hidden
    +roundcorners
    +box-shadow-silver
    li
      padding: 10px 0 5px
      margin: 0px
      font-size: 16px
      color: $silver
      line-height: 22px

// Headers
h2
  color: $plum-shadow


// Universal
a, a:hover, a:active, a:visited, a:focus
  outline: none

.inline-block
  display: inline-block

.relative
  position: relative

.absolute
  position: absolute

.clear-right
  clear: right
.clear-left
  clear: left

.center
  text-align: center
  margin: 0 auto
.left
  text-align: left
.right
  text-align: right


// Buttons
.btn
  font-family: $dosis
  text-transform: uppercase
  font-weight: 500
  background-color: $silver-light
  background-image: none
  text-shadow: 1px 1px 1px #FFF
.btn-warning
  background-color: $tangerine-medium
  background-image: none
.btn-danger
  background-color: $salmon-shadow
  background-image: none
.btn-success
  background-color: $grass
  background-image: none
.btn-primary
  background-color: $ocean-medium
  background-image: none
  text-shadow: 1px 1px 1px $silver-dark
.btn-callout
  background-color: $plum
  background-image: none
  text-shadow: 1px 1px 1px $plum-black
  color: #FFF

.bttn-newsletter
  text-align: center
  .btn
    padding: 2px 14px


// Icons
.enormous-icon.circled
  line-height: 1.6em


// Header
#masthead
  .brand
    background: url(gg-logo.png) no-repeat 0 0 transparent
    width: 110px
    height: 80px
    padding: 0px
  h1
    display: none

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
  background-color: transparent

.nav
  .dropdown
    img
      margin-top: -5px

// Footer
#footer
  .brand
    background: url(gg-logo-footer.png) no-repeat 0 0 transparent
    width: 80px
    height: 77px
    padding: 0px
    display: block
    float: left
  h1
    display: none

#footer
  .kristi
    font-size: 37px
    color: #646363
  small
    color: #646363
    font-style: normal
    display: inline
    margin-left: -5px
  .tagline
    padding-top: 5px

// Sidebar
.gravatar
  float: left
  margin-right: 10px

// Accordion Nav
.accordionFAQ
  margin-left: 0px
  .icon-chevron-down, .icon-envelope
    float: right
    margin: 5px -6px 0 0
    opacity: 0.5
  dt
    font-weight: normal
  .well
    padding: 10px 0px
    h3
      padding-left: 10px
      text-align: left
      border-bottom: 0px
      margin-bottom: 0px
      box-shadow: none
  .accordion-heading
    border-top: 1px solid #EEE
    a:hover
      background-color: $grass
      color: #FFF
      text-shadow: 1px 1px 1px $grass-shadow
  .accordion-inner
    background-color: $grass-slight

// FAQ
#FAQ
  .accordion
    margin-bottom: 5px

// Forms
.event-accordion
  .accordion-toggle
    background-color: $ocean-medium
  .accordion-inner
    background-color: #FFF
  .accordion-heading
    h2
      a
        color: #FFF
        text-shadow: 1px 1px 1px $ocean-shadow

#new_apprenticeship
  .accordion-inner
    background: rgb(255, 255, 255)
    background: rgba(255, 255, 255, .45)
    text-shadow: 1px 2px 1px #FFF
    h3
      font-size: 20px
      margin-bottom: 20px
      margin-top: 30px
      padding-left: 20px
      color: $silver-shadow

.fancyform, .fancyform-light
  background: #EBEBEB
  border: 1px solid #D3D3D3
  padding: 30px
  margin-bottom: 30px
  +roundcorners
  +box-shadow-silver
  hr
    border-color: #DDD
    border-width: 0px 0px 1px 0px
.fancyform-light
  background: $silver-bright

.form-horizontal
  color: $silver-black
  .control-label
    width: 170px
  .controls
    margin-left: 190px
    .help-block
      margin-top: 0px
      color: $silver-dark
  .btn-create
    text-align: center
    margin: 0 auto
    display: block

#admin
  .fancyform-light
    padding: 30px 0px 0px 0px
    .control-group
      padding: 30px
      margin-bottom: 0px
      border-bottom: 1px solid #DDD
    form
      margin-bottom: 0px
    .form-actions
      border-top: none
      margin: 0px
      padding-left: 220px
      padding-right: 40px
      background-color: $silver-light
      +roundcorners
    .currentpassword
      padding-top: 30px
      background-color: $silver-light
      .control-group
        border-bottom: none

.control-group
  .radio_buttons
    padding-top: 0px

.simpleform-text
  line-height: 34px

ul.token-input-list-facebook
  clear: none

.popover, .popover.arrow
  background: #000
.popover.right .arrow
  border-right-color: #000
.popover-inner
  text-align: left
.popover-title
  padding: 0px
  border-bottom: none
.popover-content
  color: #CCC

input[type="radio"], input[type="checkbox"]
  margin: -4px 0 0

.help-block
  font-size: 13px
  margin-top: -10px


// Home
#hmpg
  .hmpg-spotlight
    background: url(banners/hmpg-spotlight-01.png) repeat-x top center transparent
    p
      text-transform: uppercase
      font-size: 27px
      letter-spacing: 3px
      margin: 20px 0
    .btn-primary
      font-size: 22px
      font-weight: 500
  .carousel
    margin-bottom: 0px
  #goals
    padding: 0 0
    position: static
    .calloutbubble
      position: relative
      z-index: 99
      margin-top: -5px
      margin-bottom: -5px
      .well
        background-color: $mint-light
        +textshadow-light
        margin-bottom: 0px
      .kristi
        display: inline
        font-size: 40px
      .smaller
        font-size: 38px
        display: inline
      h2
        +dosis-caps
        color: $grey-black
        font-size: 50px
      h3
        color: $silver-shadow
        font-size: 26px
        line-height: 26px
        .kristi
          color: $silver-shadow
    .valueprop
      +dosis-caps
      font-weight: 500
      color: $silver-dark
      list-style: none
      padding: 5px 0px
      font-size: 15px
      letter-spacing: 2px
      h2
        +dosis-caps
        color: $coral
        font-size: 50px
        margin: 10px 0
      li
        padding: 2px 0px
        .btn
          margin-top: 15px
        .learnmore
          margin-top: 15px
          display: block
          font-size: 13px
          font-weight: 500
  #newsletter
    background-color: #323232
    .getthedrop
      background: url(getthedrop.png) no-repeat center right transparent
      width: 439px
      height: 85px
    .signup
      margin-top: 25px
      .bttn-newsletter
        text-align: left
    .kristi
      color: #FFF
      font-weight: normal
      text-transform: none
      font-size: 40px
      text-align: center
      margin-top: -15px
      text-shadow: 1px 1px 1px #000
  #mission
    .well
      background: #FFF
      background: rgba(255, 255, 255, .25)
    h4
      +dosis-caps
      font-size: 35px
    p
      background-color: #4193D8
      color: #FFF
      display: inline
      font-size: 20px
      line-height: 35px
      margin: 5px 0
      padding: 1px 0px
      text-shadow: none

// Newsletter page
.indicates-required
  text-align: right
  font-size: 12px

// Get Involved
#getinvolved
  .enormous-icon
    .kristi
      font-size: 70px
      font-style: normal
      color: $grass
      line-height: 110px
    .small
      font-size: 45px
  .commingsoon
    background-color: #CCC
    .kristi
      color: $silver-light
  .commingsoon-text
    color: #939393
    font-family: "Kristi"
    font-size: 40px
    font-weight: normal
    line-height: 20px
    margin-left: -25px
    margin-top: -110px
    text-transform: none
    width: 170px

// Required for jQuery Masonry
.box, .box_photo, .dragging
  margin: 5px
  padding: 5px
  font-size: 11px
  line-height: 1.4em
  float: left
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  box-shadow: 0px 1px 5px #ccc
  width: 270px
  img
    display: block
    width: 100%
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    &.avatar
      width: auto
      float: right
      margin-right: -5px
      margin-top: -20px
      +box-shadow-silver

.box-small
  width: 135px
.box-large
  width: 100%

.description
  margin: 10px 0px 5px
  font-size: 13px
  height: 30px
  overflow: hidden

.masonry-brick
  .relative
    z-index: 99

.progress
  position: absolute

.progress-striped
  .bar
    background-size: 135px 135px

.clearform
  margin: 0px

.transitions-enabled
  &.masonry
    -webkit-transition-duration: 0.7s
    -moz-transition-duration: 0.7s
    -ms-transition-duration: 0.7s
    -o-transition-duration: 0.7s
    transition-duration: 0.7s
    .masonry-brick
      -webkit-transition-duration: 0.7s
      -moz-transition-duration: 0.7s
      -ms-transition-duration: 0.7s
      -o-transition-duration: 0.7s
      transition-duration: 0.7s
      -webkit-transition-property: left, right, top
      -moz-transition-property: left, right, top
      -ms-transition-property: left, right, top
      -o-transition-property: left, right, top
      transition-property: left, right, top
    -webkit-transition-property: height, width
    -moz-transition-property: height, width
    -ms-transition-property: height, width
    -o-transition-property: height, width
    transition-property: height, width

.clearfix:before, .clearfix:after
  content: ""
  display: table
.clearfix:after
  clear: both

.clearfix
  zoom: 1

#uploader
  height: 206px
  .fileinput-button
    height: 133px
    width: 133px
    padding: 0px
  #label
    line-height: 120px
  .btn-primary
    background: $niceblue

#galleryModal
  top: 50%
  width: 80%
  margin-left: -40%
  .modal-body
    max-height: 450px

#add_photo_input
  transform: translate(-562px, 52px) scale(4.6)

.center
  text-align: center


// Portfolio
.dragging
  opacity: .6

#current_album
  h1
    display: inline-block

#album_nav
  margin-bottom: 0px
  [class^="icon-"], [class*=" icon-"]
    float: left
    margin: 1px 2px 0 0
    padding: 0 7px 0 1px
  .dl-horizontal
    [class^="icon-"], [class*=" icon-"]
      float: none

.large, #album_nav a.large
  font-size: 20px
  line-height: 24px
  padding: 6px

.nav-tabs
  border: none
.nav-tabs > li > a
  border: none
  padding: 0px 20px 0px 10px
.nav-tabs > li > a:hover
  background: none
  border: none
  border-color: none
.nav-tabs .dropdown-toggle .caret
  margin-top: 14px
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover
  background-color: $niceblue
  border: none
.nav-tabs .dropdown-menu
  border: none
  border-radius: 0px 6px 6px 6px
  a
    display: inline
    padding: 0px
    margin: 0 10px
    line-height: 30px
.dl-horizontal
  font-size: 16px
  line-height: 24px
  margin-top: 0px
  dt
    text-align: right
    /*width: 30px*/
    a
      padding: 3px
  dd
    /*margin-left: 30px*/

#my_images_link
  margin-top: 10px


// Workshops & Apprenticeships
.title-topic
.title-name
.title-business
.with
  text-transform: none
  font-weight: normal

.title-boxlink
  font-size: 17px
  font-weight: bold
  text-transform: uppercase
  height: 44px
  overflow: hidden
  display: block

#workshops-index, #apprenticeships-index
  .box
    .title-business
      display: none
  .box-details
    padding: 10px 5px
    font-size: 14px
    line-height: 20px
    color: $silver-black
    position: relative
    .btn-mini
      margin: 0 0 0 5px
      position: absolute
      top: -35px
      right: 10px
    .badge
      margin-top: 5px
    .date
      font-weight: bold
  h1
    display: inline
  .alert
    table
      background-color: #FFF
      .image
        width: 15%
      .title
        width: 35%
      .spots
        width: 10%
      .ages
        width: 10%
      .dates
        width: 20%
  .bttn-call
    &.kristi
      font-size: 35px
      margin: 10px 10px 0 0

#workshop_show, #apprenticeship_show
  .box
    width: 212px

  .dl-horizontal
    margin-top: 0px
    dt
      width: 18%
    dd
      margin-left: 20.5%

  #tags_section.section
    padding-top: 0px
    margin-top: -10px

    .nav-stacked
      text-align: center

.default-photo-large
  background-color: $silver-light
.default-photo-medium
  width: 270px
  height: 270px
  background-color: $silver-light
.default-photo-thumb
  width: 50px
  height: 50px
  background-color: $silver-light
  display: inline-block


.btn
  &:focus
    outline: none


// Apprenticeship Design Page
#apprenticeship-design, #apprenticeship-show, #private-info
  #page-header
    font-family: kristi
    font-size: 45px
    font-weight: normal
    text-transform: none
  #top-buttons
    ul
      padding-left: 30px
      margin: 0px
      li
        a
          cursor: default
          background-color: $silver-light
          font-size: 20px
          color: $silver-shadow
          &:hover
            background-color: $silver-light
        &.active
          a
            color: #FFFFFF
            background-color: $plum-shadow
            &:hover
              background-color: $plum-shadow

#apprenticeship-design, #apprenticeship-show
  margin-top: 40px
  line-height: 20px
  section
    margin: 0
    padding: 0
  #top
    border: 3px dashed #CCC
    background-color: $silver-bright
    border-bottom: none
    border-radius: 4px 4px 0 0
    &.no-border
      border: none
  #middle
    border: 3px dashed #CCC
    background-color: $silver-bright
    border-top: none
    border-bottom: none
    padding: 20px 0
    &.no-border
      border: none
  #bottom
    border: 3px dashed #CCC
    background-color: $silver-bright
    border-top: none
    border-radius: 0 0 4px 4px
    margin-bottom: 30px
    padding: 30px 0
    &.no-border
      border: none
  .field
    display: inline-block
    border: 1px solid #CCC
    background-color: #FFF
    border-radius: 6px
    padding: 1px 8px
    a, span
      line-height: 35px
    &.textarea
      a
        font-style: italic
      & .preview
        font-style: normal
    & .preview
      color: #666
      font-size: 12px
      cursor: default
      &.editable-empty-disabled
        color: red
  #avatar
    margin-bottom: 10px
    img
      border-radius: 500px 500px 500px 500px
    &.field
      border-radius: 500px  500px  500px  500px
      padding: 8px
  #preview-buttons-top, #preview-buttons-bottom
    margin: 5px 5px 0 0
  #banner
    width: 70%
    margin-left: 15%
    font-size: 20px
    text-align: center
    padding-top: 30px
    a, span
      line-height: 40px
    #title
      font-family: $opensans
      font-weight: bold
      font-style: none
      font-size: 30px
      line-height: 55px
      margin-bottom: 5px
      a, span
        text-transform: uppercase
    #kind
      margin-top: 10px
      background-color: #666
      &.label
        a, span
          line-height: 22px
          font-family: $opensans
          color: #FFF
        & .preview
          color: #FFF
    #description
      font-family: georgia
      margin-top: 15px
      font-size: 16px
      text-align: center
      .editable-empty
        font-style: italic
      &.field
        a, span
          line-height: 30px
  #private-address
    margin-top: 5px
  #dates, #from, #address, #nbrhood-toggle
    display: inline
    &.hidden
      display: none
  #host-images
    margin: 0px
    text-align: center
    .alert-success
      background-color: #CCC
    .box
      width: 18.1%
      margin: 0 0.5%
      a
        float: right
      .handle
        position: absolute
        background: url(bkg-drag.png) repeat-x 0 0 transparent
        cursor: pointer
        display: block
        float: left
        height: 25px
        width: 82.5%
    .placeholder
      width: 18.1%
      margin: 0 0.5%
      img
        width: inherit
  #bio
    a
      font-style: normal
  #map-box
    width: 18.5%
    text-align: center
    margin: 0 1.1%
  #details, #private-details
    width: 78.5%
    .dl-horizontal
      dt
        line-height: 37px
        width: 25%
        margin-bottom: 4px
        font-family: $opensans
      dd
        line-height: 37px
        margin-left: 26.5%
        width: 73.5%
        margin-bottom: 4px
  #proceed
    text-align: center
    display: inline
    a
      color: #FFFFFF
  #preview-buttons-bottom
    text-align:  center
  #private-details
    margin-top: 30px
  #private-main
    border: 2px solid  #CCC
    border-radius: 4px
  #map_section
    width: 100%
    text-align: center
  .optional-hide
    display: inline
  .no-border
    border: none
  .hidden
    display: none
  .editable-empty, .editable-empty:hover
    font-style: normal
    color: $niceblue
  .editable-click, a.editable-click, a.editable-click:hover
    border-bottom: 1px dashed #CCCCCC
  #admin_section
    padding: 30px 0px
    text-align: center

#apprenticeship-show
  #banner
    padding-top: 0px
    #title
      margin-bottom: -15px
    #description
      font-style: italic
      color: $silver-dark
      padding-bottom: 30px
    #kind
      padding: 1px 8px
  #private-address
    margin-top: 0px
  #details, #private-details
    .dl-horizontal
      dt, dd
        margin-bottom: 0px
  #bio
    line-height: 25px
  #preview-btn
    display: none
  .field
    padding: 0px
    border: none
  .preview-hide
    display: none
  .preview-show
    display: block
  #top, #middle, #bottom
    border: none
    background-color: transparent

  #applysidebar
    padding-top: 30px
    width: 20%
    float: right
    .small
      font-size: 13px
      color: $silver-dark
      padding: 10px

// Event SignUps
// SignUps
#apply
  h2
    text-transform: none
    font-weight: 600
.dl-application
  dt
    width: 170px
    margin-right: 20px
.dl-application-review
  dt
    width: 250px
    margin-right: 20px
    font-weight: normal
    white-space: normal
    padding: 5px 0
  dd
    margin-left: 270px
    padding: 5px 0

.row-saved .box
  background-color: $alert-yellow
.row-pending .box
  background-color: $alert-yellow
.row-canceled .box
  background-color: $alert-red
.row-filled .box
  background-color: $alert-green
.row-completed .box
  background-color: $alert-green
.row-upcoming .box
  background-color: $alert-blue

// How it works
.howitworks
  padding: 30px 0px
  i
    text-shadow: 1px 1px 1px #000
  .span4
    border: none


// Miscellaneous
.debug_dump /* Hartl */
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing

#map
  margin: -30px -0px 0 -20px
