// variables
$tangerine-light: #ffe6c5
$tangerine-medium: #f9a83d
$tangerine: #f99716
$tangerine-shadow: #e0800e
$tangerine-black: #5e3202

$salmon-light: #fcbfb6
$salmon-medium: #fc7859
$salmon: #fd5a3f
$salmon-shadow: #ed503b
$salmon-black: #411110

$coral-light: #fcb1b1
$coral-medium: #fc7070
$coral: #fc4240
$coral-shadow: #e02d2d

$ocean-light: #c7eaf2
$ocean-medium: #0eb3e5
$ocean: #2092c1
$ocean-shadow: #077ca0
$ocean-black: #01404f

$niceblue: #41B7D8

$grass-slight: #F9FEEE
$grass-light: #e8f7c9
$grass-medium: #a9db3b
$grass: #7dbc0f
$grass-shadow: #70a005
$grass-black: #3f5601

$star-bright: #f8fbfc
$star-light: #eff6f8
$star-medium: #e4edef
$star: #d8e3e5
$star-shadow: #c5dadd

$silver-bright: #f7f7f7
$silver-light: #efefef
$silver-medium: #e0e0e0
$silver: #cecece
$silver-shadow: #b5b5b5
$silver-dark: #939393
$silver-black: #707070

$alert-yellow: #FCF8E3
$alert-red: #F2DEDE
$alert-green: #DFF0D8
$alert-blue: #D9EDF7


// mixins
@mixin box_sizing
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

@mixin box-shadow($top, $left, $blur, $color, $inset:"")
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}

@mixin box-shadow-silver
  +box-shadow(1px, 1px, 3px, $silver-shadow)

.box-shadow-silver
  +box-shadow-silver

// headers
h2
  color: $tangerine-black

// universal
a, a:hover, a:active, a:visited, a:focus
  outline: none

.relative
  position: relative

.absolute
  position: absolute

.clear-right
  clear: right
.clear-left
  clear: left

.center
  text-align: center
  margin: 0 auto
.left
  text-align: left
.right
  text-align: right


// buttons
.btn
  background-color: $silver-light
  background-image: none
.btn-warning
  background-color: $tangerine-medium
  background-image: none
.btn-danger
  background-color: $salmon-shadow
  background-image: none
.btn-success
  background-color: $grass
  background-image: none
.btn-primary
  background-color: $ocean-medium
  background-image: none

.bttn-newsletter
  text-align: center
  .btn
    padding: 2px 14px


// header
#masthead .brand
  background: url(gg-logo.png) no-repeat 0 0 transparent
  width: 110px
  height: 80px
  padding: 0px

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle
  background-color: transparent

#masthead .brand h1
  display: none

.nav
  .dropdown
    img
      margin-top: -5px

// footer
#footer
  .kristi
    font-size: 28px
  small
    color: #999
    font-style: normal

// sidebar
.gravatar
  float: left
  margin-right: 10px

// accordion nav
.accordionFAQ
  margin-left: 0px
  .icon-chevron-down, .icon-envelope
    float: right
    margin: 5px -6px 0 0
    opacity: 0.5
  dt
    font-weight: normal
  .well
    padding: 10px 0px
    h3
      padding-left: 10px
      text-align: left
      border-bottom: 0px
      margin-bottom: 0px
      box-shadow: none
  .accordion-heading
    border-top: 1px solid #EEE
    a:hover
      background-color: $grass
      color: #FFF
      text-shadow: 1px 1px 1px $grass-shadow
  .accordion-inner
    background-color: $grass-slight

// forms
.event-accordion
  .accordion-toggle
    background-color: $ocean-medium
  .accordion-heading
    h2
      a
        color: #FFF
        text-shadow: 1px 1px 1px $ocean-shadow

#new_apprenticeship
  .accordion-inner
    background: rgb(255, 255, 255)
    background: rgba(255, 255, 255, .45)
    text-shadow: 1px 2px 1px #FFF
    h3
      font-size: 20px
      margin-bottom: 20px
      margin-top: 30px
      padding-left: 20px
      color: $silver-shadow

.fancyform
  background: #EBEBEB
  border: 1px solid #D3D3D3
  padding: 30px
  margin-bottom: 30px
  hr
    border-color: #DDD
    border-width: 0px 0px 1px 0px

.form-horizontal
  color: $silver-black
  .control-label
    width: 170px
  .controls
    margin-left: 190px
  .btn-create
    text-align: center
    margin: 0 auto
    display: block

.control-group
  .radio_buttons
    padding-top: 0px

.simpleform-text
  line-height: 34px

ul.token-input-list-facebook
  clear: none

.popover, .popover.arrow
  background: #000
.popover.right .arrow
  border-right-color: #000
.popover-inner
  text-align: left
.popover-title
  padding: 0px
  border-bottom: none
.popover-content
  color: #CCC

input[type="radio"], input[type="checkbox"]
  margin: -4px 0 0


// home
.carousel
  margin-bottom: 0px

.valueprop
  list-style: none
  padding: 5px 0px
  li
    padding: 2px 0px
    .btn
      margin-top: 15px

.keypoints
  background-color: #333
  .dontforget
    background: url('../../../images/dontforgetto.png') no-repeat center left transparent
    margin-left: 180px
    height: 40px
    p
    display: none
    h2
      color: #FFF
  .kristi
    color: #FFF
    font-weight: normal
    text-transform: none
    font-size: 40px
    text-align: center
    margin-top: -15px
    text-shadow: 1px 1px 1px #000


// newsletter page
.indicates-required
  text-align: right
  font-size: 12px



// miscellaneous
.debug_dump /* Hartl */
  clear: both
  float: left
  width: 100%
  margin-top: 45px
  @include box_sizing

// Required for jQuery Masonry
.box, .box_photo, .dragging
  margin: 5px
  padding: 5px
  font-size: 11px
  line-height: 1.4em
  float: left
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px
  box-shadow: 0px 1px 5px #ccc
  width: 270px
  img
    display: block
    width: 100%
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
    &.avatar
      width: auto
      float: right
      +box-shadow-silver

.box-small
  width: 135px
.box-large
  width: 100%

.description
  margin: 10px 0px 5px
  font-size: 13px
  height: 30px
  overflow: hidden

.masonry-brick
  .relative
    z-index: 99

.progress
  position: absolute

.progress-striped
  .bar
    background-size: 135px 135px

.clearform
  margin: 0px

.transitions-enabled
  &.masonry
    -webkit-transition-duration: 0.7s
    -moz-transition-duration: 0.7s
    -ms-transition-duration: 0.7s
    -o-transition-duration: 0.7s
    transition-duration: 0.7s
    .masonry-brick
      -webkit-transition-duration: 0.7s
      -moz-transition-duration: 0.7s
      -ms-transition-duration: 0.7s
      -o-transition-duration: 0.7s
      transition-duration: 0.7s
      -webkit-transition-property: left, right, top
      -moz-transition-property: left, right, top
      -ms-transition-property: left, right, top
      -o-transition-property: left, right, top
      transition-property: left, right, top
    -webkit-transition-property: height, width
    -moz-transition-property: height, width
    -ms-transition-property: height, width
    -o-transition-property: height, width
    transition-property: height, width

.clearfix:before, .clearfix:after
  content: ""
  display: table
.clearfix:after
  clear: both

.clearfix
  zoom: 1

#uploader
  height: 206px
  .fileinput-button
    height: 133px
    width: 133px
    padding: 0px
  #label
    line-height: 120px
  .btn-primary
    background: $niceblue

#galleryModal
  top: 50%
  width: 80%
  margin-left: -40%
  .modal-body
    max-height: 450px

#add_photo_input
  transform: translate(-562px, 52px) scale(4.6)

.center
  text-align: center


// Portfolio
.dragging
  opacity: .6

#current_album
  h1
    display: inline-block

#album_nav
  margin-bottom: 0px
  [class^="icon-"], [class*=" icon-"]
    float: left
    margin: 1px 2px 0 0
    padding: 0 7px 0 1px
  .dl-horizontal
    [class^="icon-"], [class*=" icon-"]
      float: none

.large, #album_nav a.large
  font-size: 20px
  line-height: 24px
  padding: 6px

.nav-tabs
  border: none
.nav-tabs > li > a
  border: none
  padding: 0px 20px 0px 10px
.nav-tabs > li > a:hover
  background: none
  border: none
  border-color: none
.nav-tabs .dropdown-toggle .caret
  margin-top: 14px
.nav-tabs .open .dropdown-toggle, .nav-pills .open .dropdown-toggle, .nav > li.dropdown.open.active > a:hover
  background-color: $niceblue
  border: none
.nav-tabs .dropdown-menu
  border: none
  border-radius: 0px 6px 6px 6px
  a
    display: inline
    padding: 0px
    margin: 0 10px
    line-height: 30px
.dl-horizontal
  font-size: 16px
  line-height: 24px
  margin-top: 0px
  dt
    text-align: right
    /*width: 30px*/
    a
      padding: 3px
  dd
    /*margin-left: 30px*/

#my_images_link
  margin-top: 10px


// Workshops & Apprenticeships
h1
  .title-topic

  .title-name
    text-transform: none
    font-weight: normal
    font-size: 25px

  .title-business
    text-transform: none
    font-weight: normal
    font-size: 25px

.title-boxlink
  font-size: 15px
  font-weight: bold
  text-transform: uppercase

#workshops-index, #apprenticeships-index
  .box
    .title-business
      display: none
  .box-details
    padding: 10px 5px
    font-size: 14px
    line-height: 20px
    color: $silver-black
    position: relative
    .btn-mini
      margin: 0 0 0 5px
      position: absolute
      top: -35px
      right: 10px
    .badge
      margin-top: 5px
    .date
      font-weight: bold
  h1
    display: inline
  .alert
    table
      background-color: #FFF
      .image
        width: 15%
      .title
        width: 35%
      .spots
        width: 10%
      .ages
        width: 10%
      .dates
        width: 20%
  .bttn-call
    &.kristi
      font-size: 35px
      margin: 10px 10px 0 0

#workshop_show, #apprenticeship_show
  .box
    width: 212px

  .dl-horizontal
    margin-top: 0px
    dt
      width: 18%
    dd
      margin-left: 20.5%

  #tags_section.section
    padding-top: 0px
    margin-top: -10px

    .nav-stacked
      text-align: center

.default-photo-large
  background-color: $silver-light
.default-photo-medium
  width: 270px
  height: 270px
  background-color: $silver-light
.default-photo-thumb
  width: 50px
  height: 50px
  background-color: $silver-light
  display: inline-block


// Event SignUps
.dl-application
  dt
    width: 170px
    margin-right: 20px
.dl-application-review
  dt
    width: 250px
    margin-right: 20px
    font-weight: normal
    white-space: normal
    padding: 5px 0
  dd
    margin-left: 270px
    padding: 5px 0

.row-saved .box
  background-color: $alert-yellow
.row-pending .box
  background-color: $alert-yellow
.row-canceled .box
  background-color: $alert-red
.row-filled .box
  background-color: $alert-green
.row-completed .box
  background-color: $alert-green
.row-upcoming .box
  background-color: $alert-blue

// how it works
.howitworks
  padding: 30px 0px
  i
    text-shadow: 1px 1px 1px #000
  .span4
    border: none
