- provide(:title, 'Makers')
%section#makers_show.section
  .container
    %h1 Makers in the Guild
    Sign up to stay updated about the makers you'd like to work with in the future.
    %br We'll send you an email when they post a workshop or apprenticeship so you can get first dibs on their sessions.
    %br
    %br
    .row-fluid
      = render partial: 'maker', collection: @makers