- provide(:title, 'Makers')
%section#makers-index.section
  .container
    %h1 Makers
    /= link_to "Post an Idea", new_workshop_path, class: 'btn btn-large btn-primary pull-right'
    %span.bttn-call.kristi.pull-right

    %br
    %br
    .accordion#accordion2
      .accordion-group
        .accordion-heading
          %a.accordion-toggle.howitworks-drop{"data-toggle" => "collapse", href: "#collapseOne", class: 'pull-center' }
            How it Works
            %i.fa.fa-chevron-down
        #collapseOne.accordion-body.collapse
          .accordion-inner
            %br/
            .row-fluid
              %ul.thumbnails
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-bolt.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 View Makers
                      %p
                        Check out the list of brilliant Makers below. We know you'll find someone who inspires you.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-eye.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Follow
                      %p
                        Follow as many Makers as you like to show them that your interested in learning from them.
                %li.span4
                  .row-fluid
                    .span4.pull-center
                      %i.fa.fa-envelope-o.enormous-icon.circled.pull-center.fa-4x
                    .span8
                      %h3 Get First Dibs
                      %p We'll send you an email when they post a workshop or apprenticeship so you can get first dibs on their sessions.



    = render partial: 'maker', collection: @makers