#accordion2.accordion.form-horizontal.well
  %h3 Workshop FAQ
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse1FAQ"}
      What's a workshop?
      %i.fa-chevron-down
  #collapse1FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p In a GirlsGuild workshop, an artist or maker offers to teach a particular project or technique to a group of girls, usually in a 2-3 hour session (some workshops have multiple sessions over a few days or weeks). It's a chance to learn from the maker to gain a new skill and make something of your own.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse2FAQ"}
      How much does it cost?
      %i.fa-chevron-down
  #collapse2FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p Each workshop is different, so costs vary. When a maker offers to lead a workshop, she sets the cost to include the materials and tools that will be used, and to fit the length of the workshop. For most workshops, the sign-up fee covers all the materials you’ll use to make something you’ll bring home with you.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse3FAQ"}
      Where does it happen?
      %i.fa-chevron-down
  #collapse3FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p As often as possible, workshops take place in the maker’s own studio or workspace - this gives you a chance to see a little bit of what it’s like working in her world. In situations where her workspace just can’t accommodate a workshop, we work with the maker to find an appropriate venue somewhere else in the community.
  .accordion-heading
    %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapse4FAQ"}
      What if I can't make it?
      %i.fa-chevron-down
  #collapse4FAQ.accordion-body.collapse{:style => "height: 0px; "}
    .accordion-inner
      %p That's fine. We offer a full refund if you let us know 7 days before the workshop.
  .accordion-heading
    %a.accordion-toggle{:href => "mailto:hello@girlsguild.com?Subject=Hello there"}
      More Questions? Email us
      %i.fa-envelope