.row-fluid
  %ul.thumbnails.bordered
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa.fa-edit.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3 You Apply
          %p
            Use this form to apply by telling us a little bit about who you are and what you want to learn.
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa.fa-thumbs-up.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3
            = "#{@workshop.host_firstname}"
            Reviews
          %p
            When you submit it, she’ll review it and we’ll let you know her decision within two weeks.
    %li.span4
      .row-fluid
        .span4.pull-center
          %i.fa.fa-check.enormous-icon.circled.pull-center.fa-4x
        .span8
          %h3 You Confirm & Pay
          %p
            To confirm the apprenticeship and get connected to #{"#{@workshop.host_firstname}"} you’ll pay the $30 matching fee.