    <div class="row-fluid">
      <ul class="thumbnails bordered">
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-edit enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3>You Apply</h3>
              <p>
                Use this form to apply by telling us a little bit about who you are and what you want to learn.
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-thumbs-up enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3><%= "#{@workshop.host_firstname}" %> Reviews</h3>
              <p>
                When you submit it, she’ll review it and we’ll let you know her decision within two weeks.
              </p>
            </div>
          </div>
        </li>
        <li class="span4">
          <div class="row-fluid">
            <div class="span4 pull-center">
              <i class="icon-check enormous-icon circled pull-center"></i>
            </div>
            <div class="span8">
              <h3>You Confirm & Pay</h3>
              <p>
                To confirm the apprenticeship and get connected to <%= "#{@workshop.host_firstname}" %> you’ll pay the $29 matching fee.
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>