/ Google Maps shim
%script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false"}
:javascript
  //
    // Call the google map
    mapInit('#{address ||= "1309 Chestnut Ave. Austin 78702"}');
  //